@using DiagramBuilder.Shared
@namespace DiagramBuilder

<div id="diagrambuilder-container" style="visibility:visible;" class=@DiagramBuilderClassName>
    <DiagramMenuBar @ref="@MenuBar"></DiagramMenuBar>
    <DiagramToolBar @ref="@Toolbar"></DiagramToolBar>
    <div class='row content' style="padding-top:0px">
        <DiagramLeftSideBar @ref="@LeftSideBar"></DiagramLeftSideBar>
        <div class='main-content' role='main'>
            <DiagramMainContent @ref="@DiagramContent"></DiagramMainContent>
            <div id="shortcutDiv" style="width: 400px;height: 420px;padding: 10px;background-color: #fff7b5;border: 1px solid #fff7b5;position: absolute;margin:3px;display: @ShowShortCutKey">
                <div id="closeIconDiv" style="float: right;width: 22px;height: 22px;border: 1px solid #fff7b5;" onclick="@ShowHideShortcutKey">
                    <span class="sf-icon-Close" style="font-size: 10px; cursor: pointer"></span>
                </div>
                <div><span class="db-html-font-medium">Quick shortcuts</span></div>
                <div style="padding-top: 10px">
                    <ul>
                        <li>
                            <span class="db-html-font-medium">Tab : </span><span class="db-html-font-normal">Add a subtopic to the left</span>
                        </li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>
                            <span class="db-html-font-medium">Shift + Tab : </span><span class="db-html-font-normal">Add a subtopic to the right</span>
                        </li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>
                            <span class="db-html-font-medium">Enter : </span><span class="db-html-font-normal">Add a new sibling child</span>
                        </li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>
                            <span class="db-html-font-medium">Delete / Backspace : </span><span class="db-html-font-normal">Delete a topic</span>
                        </li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>
                            <span class="db-html-font-medium">Arrow(Up, Down, Left, Right) : </span><span class="db-html-font-normal">Navigate between topics</span>
                        </li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>
                            <span class="db-html-font-medium">F2 : </span><span class="db-html-font-normal">Edit a topic</span>
                        </li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>
                            <span class="db-html-font-medium">Esc : </span><span class="db-html-font-normal">End text editing</span>
                        </li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>
                            <span class="db-html-font-medium">Ctrl + B : </span><span class="db-html-font-normal">To make text bold</span>
                        </li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>
                            <span class="db-html-font-medium">Ctrl + I : </span><span class="db-html-font-normal">To make text Italic </span>
                        </li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>
                            <span class="db-html-font-medium">Ctrl + U : </span><span class="db-html-font-normal">Underline the text</span>
                        </li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>
                            <span class="db-html-font-medium">F8 : </span><span class="db-html-font-normal">To Fit the diagram into the viewport</span>
                        </li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>
                            <span class="db-html-font-medium">F1 : </span><span class="db-html-font-normal">Show/Hide shortcut Key</span>
                        </li>
                    </ul>
                </div>
            </div>

            <div id="shortcutDiv" style="width: 350px;height: 280px;padding: 10px;background-color: #fff7b5;border: 1px solid #fff7b5;position: absolute;margin:3px;display: @ShowOrgShortCutKey">
                <div id="closeIconDiv" style="float: right;width: 22px;height: 22px;border: 1px solid #fff7b5;" onclick="@ShowHideShortcutKey">
                    <span class="sf-icon-Close" style="font-size: 10px; cursor: pointer"></span>
                </div>
                <div><span class="db-html-font-medium">Quick shortcuts</span></div>
                <div style="padding-top: 10px">
                    <ul>
                        <li>
                            <span class="db-html-font-medium">Tab : </span><span class="db-html-font-normal">Add a child to the parent</span>
                        </li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>
                            <span class="db-html-font-medium">Enter : </span><span class="db-html-font-normal">Add a child to the same level</span>
                        </li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>
                            <span class="db-html-font-medium">Shift + Tab : </span><span class="db-html-font-normal">Move the child parent to the next level</span>
                        </li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>
                            <span class="db-html-font-medium">Delete : </span><span class="db-html-font-normal">Delete a topic</span>
                        </li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>
                            <span class="db-html-font-medium">Arrow(Up, Down, Left, Right) : </span><span class="db-html-font-normal">Navigate between topics</span>
                        </li>
                    </ul>
                </div>           
                <div>
                    <ul>
                        <li>
                            <span class="db-html-font-medium">F1 : </span><span class="db-html-font-normal">Show/Hide shortcut Key</span>
                        </li>
                    </ul>
                </div>       
            </div>
            <div class=@PropertyPanelClassName style="overflow:auto;">
                <DiagramPropertyContainer @ref="@DiagramPropertyPanel"></DiagramPropertyContainer>
                <MindMapPropertyContainer @ref="@MindMapPropertyPanel"></MindMapPropertyContainer>
                <OrgChartPropertyContainer @ref="@OrgChartPropertyPanel"></OrgChartPropertyContainer>
            </div>
        </div>
    </div>
    <DiagramOpenDialog @ref="@OpenDialog"></DiagramOpenDialog>
</div>

@code {
    public MainLayout Parent;
    public string DiagramBuilderClassName = "diagrambuilder-container";
    public DiagramMainContent DiagramContent;
    public string PropertyPanelClassName = "db-property-editor-container";
    public DiagramPropertyContainer DiagramPropertyPanel;
    public DiagramMenuBar MenuBar;
    public DiagramToolBar Toolbar;
    public DiagramLeftSideBar LeftSideBar;
    public DiagramOpenDialog OpenDialog;
    public MindMapPropertyContainer MindMapPropertyPanel;
    public OrgChartPropertyContainer OrgChartPropertyPanel;
    public string ShowShortCutKey = "none";
    public string ShowOrgShortCutKey = "none";
    [Inject]
    protected IJSRuntime jsRuntime { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {

            if (this.MenuBar != null)
                this.MenuBar.Parent = this;
            if (this.Toolbar != null)
                this.Toolbar.Parent = this;
            if (this.DiagramContent != null)
                this.DiagramContent.Parent = this;
            if (this.DiagramPropertyPanel != null)
                this.DiagramPropertyPanel.Parent = this;
            if (this.LeftSideBar != null)
                this.LeftSideBar.Parent = this;
            if (this.OpenDialog != null)
                this.OpenDialog.Parent = this;
            if (this.MindMapPropertyPanel != null)
                this.MindMapPropertyPanel.Parent = this;
            if (this.OrgChartPropertyPanel != null)
                this.OrgChartPropertyPanel.Parent = this;
        }
    }
    public void ShowHideShortcutKey()
    {
        if (this.MindMapPropertyPanel.IsMindMap){ShowShortCutKey = ShowShortCutKey == "none" ? "block" : "none";}      
        else { ShowOrgShortCutKey = ShowOrgShortCutKey == "none" ? "block" : "none"; } 
        int shortcutIndex = MenuBar.WindowMenuItems.FindIndex(item => item.Text == "Show Shortcuts");
        MenuBar.WindowMenuItems[shortcutIndex].IconCss = MenuBar.WindowMenuItems[shortcutIndex].IconCss == "sf-icon-blank" ? "sf-icon-Selection" : "sf-icon-blank";
        StateChanged();
    }
    public void StateChanged()
    {
        StateHasChanged();
    }

}
