@using Syncfusion.Blazor.Inputs;
@using Syncfusion.Blazor.Navigations;
@using Syncfusion.Blazor.Diagram
@using Syncfusion.PdfExport;
@using System.Collections.ObjectModel;
@using Syncfusion.Blazor.SplitButtons;

@inject IJSRuntime jsRuntime
@namespace DiagramBuilder

<div class="db-header-container">
    <div class= '@menuclass'>
        <h1 id='diagramName' style="width: 250px; font-size: 14px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" class="db-diagram-name"
              @onclick="@renameDiagram">@diagramName</h1>
        <input id='diagramEditable' @ref="input" type="text" class="db-diagram-name" @onkeydown="@diagramNameKeyDown" @onfocusout="@diagramNameChange"  @bind-value="@value"/>
        <span id='diagramreport' class="db-diagram-name db-save-text"></span>
    </div>
    <div class="db-menu-container">
        <SfDropDownButton @ref="FileButton" Id ="btnFileMenu" Content="File" CssClass="e-dropDown-button">
            <ChildContent>
                <DropDownButtonEvents OnOpen="@DropDownButtonOpen"></DropDownButtonEvents>
            </ChildContent>
            <PopupContent>
                <SfContextMenu @ref="ContextMenu" Items="@FileMenuItems" TValue="ContextMenuItemModel">
                    <MenuEvents TValue="ContextMenuItemModel" Created="OnMenuCreated" ItemSelected="@MenuClick"></MenuEvents>
                </SfContextMenu>
            </PopupContent>
        </SfDropDownButton>
        <SfDropDownButton  @ref="EditButton" Id ="btnEditMenu" Content="Edit" CssClass="e-dropDown-button">
            <ChildContent>
                <DropDownButtonEvents OnOpen="@DropDownfileOpenButtonOpen"></DropDownButtonEvents>
            </ChildContent>
            <PopupContent>
                <SfContextMenu @ref="ContextMenu" Items="@EditMenuItems" TValue="ContextMenuItemModel">
                  <MenuEvents TValue="ContextMenuItemModel" Created="OnMenuCreated" ItemSelected="@MenuClick"></MenuEvents>
                </SfContextMenu>
            </PopupContent>
        </SfDropDownButton>
        <SfDropDownButton @ref="ViewButton" Id ="btnViewMenu" Content="View" CssClass="e-dropDown-button">
            <ChildContent>
                <DropDownButtonEvents OnOpen="@DropDownViewButtonOpen"></DropDownButtonEvents>
            </ChildContent>
            <PopupContent>
                <SfContextMenu @ref="ContextMenu" Items="@ViewMenuItems">
                   <MenuEvents TValue="ContextMenuItemModel" Created="OnMenuCreated" ItemSelected="@MenuClick"></MenuEvents>
                </SfContextMenu>
            </PopupContent>
        </SfDropDownButton>
        <SfDropDownButton @ref="ArrangeButton" Id="btnArrangeMenu" Content="Arrange" CssClass="@arrangeButtonCss">
            <ChildContent>
                <DropDownButtonEvents OnOpen="@DropDownArrangeButtonOpen"></DropDownButtonEvents>
            </ChildContent>
            <PopupContent>
                <SfContextMenu @ref="ContextMenu" Items="@ArrangeMenuItems">
                    <MenuEvents TValue="ContextMenuItemModel" Created="OnMenuCreated" ItemSelected="@MenuClick"></MenuEvents>
                </SfContextMenu>
            </PopupContent>
        </SfDropDownButton>
        <SfDropDownButton @ref="WindowButton"  Id ="btnWindowMenu" Content="Window" CssClass="e-dropDown-button">
            <ChildContent>
                <DropDownButtonEvents OnOpen="@DropDownWindowButtonOpen"></DropDownButtonEvents>
            </ChildContent>
            <PopupContent>
                <SfContextMenu @ref="ContextMenu" Items="@WindowMenuItems" >
                   <MenuEvents TValue="ContextMenuItemModel" Created="OnMenuCreated" ItemSelected="@MenuClick"></MenuEvents>
                </SfContextMenu>
            </PopupContent>
        </SfDropDownButton>

        <SfUploader @ref="@UploadFiles" Id ="defaultfileupload" ShowFileList="false" AllowedExtensions="@ExtensionType">
            <UploaderEvents Success="@OnUploadSuccess" OnUploadStart="@OnUploadFileSelected"></UploaderEvents>
            <UploaderAsyncSettings SaveUrl="https://aspnetmvc.syncfusion.com/services/api/uploadbox/Save" RemoveUrl="https://aspnetmvc.syncfusion.com/services/api/uploadbox/Remove"></UploaderAsyncSettings>
        </SfUploader>
        <DiagramSaveDialog @ref="@SaveDialogBox"></DiagramSaveDialog>
        <DiagramExportDialog @ref="@ExportDialogBox"></DiagramExportDialog>
        <DiagramPrintDialog @ref="@PrintDialogBox"></DiagramPrintDialog>
    </div>
</div>

@code {

    internal DiagramMain Parent;
    DiagramPrintDialog PrintDialogBox;
    DiagramExportDialog ExportDialogBox;
    private ElementReference input;
    DiagramSaveDialog SaveDialogBox;
    SfDropDownButton FileButton;
    SfDropDownButton WindowButton;
    SfDropDownButton ArrangeButton;
    SfDropDownButton ViewButton;
    SfDropDownButton EditButton;
    Syncfusion.Blazor.Inputs.SfUploader UploadFiles;
    string ExtensionType = ".json";
    SfContextMenu<ContextMenuItemModel> ContextMenu;
    private List<string> DisableCollection;
    public string diagramName { get; set; } = "Untitled Diagram";
    public string value { get; set; }
    public string menuclass { get; set; } = "db-diagram-name-container";
    internal string arrangeButtonCss = "e-dropDown-button e-arrange-menu";

    private async Task renameDiagram()
    {
        menuclass += " db-edit-name";
        value = diagramName;
        await input.FocusAsync();
        await jsRuntime.InvokeVoidAsync("renameDiagram1", input);
    }
    private void diagramNameKeyDown(KeyboardEventArgs  args)
    {
        if (args.Key == "Enter")
        {
            diagramName = "";
            string edit = " db-edit-name";
            if (menuclass.Contains(edit))
            {
                int first = menuclass.IndexOf(edit);
                menuclass = menuclass.Remove(first);
            }
        }
    }

    private void diagramNameChange( Microsoft.AspNetCore.Components.Web.FocusEventArgs args)
    {
        diagramName = value;
        string edit = " db-edit-name";
        if (menuclass.Contains(edit))
        {
            int first = menuclass.IndexOf(edit);
            menuclass = menuclass.Remove(first);
        }
    }
    private void DropDownButtonOpen() {
        this.ItemSelection();
        for (int i = 0; i < FileMenuItems.Count; i++)
        {
            if (DisableCollection.IndexOf(FileMenuItems[i].Text) > -1)
            {
                FileMenuItems[i].Disabled = true;
            }
            else
            {

                FileMenuItems[i].Disabled = false;
            }
        }
    }

    public void OnMenuCreated()
    {
        ContextMenu.Open();
    }
    private void DropDownfileOpenButtonOpen()
    {
        this.ItemSelection();
        for(int i =0; i<EditMenuItems.Count; i++)
        {
            if(DisableCollection.IndexOf(EditMenuItems[i].Text) > -1)
            {
                EditMenuItems[i].Disabled = true;
            }
            else {

                EditMenuItems[i].Disabled = false;
            }
        }

    }
    private void DropDownViewButtonOpen()
    {
        this.ItemSelection();
        for (int i = 0; i < ViewMenuItems.Count; i++)
        {
            if (DisableCollection.IndexOf(ViewMenuItems[i].Text) > -1)
            {
                ViewMenuItems[i].Disabled = true;
            }
            else
            {
                ViewMenuItems[i].Disabled = false;
            }
        }
    }
    private void DropDownArrangeButtonOpen()
    {
        this.ItemSelection();
        for (int i = 0; i < ArrangeMenuItems.Count; i++)
        {
            if (DisableCollection.IndexOf(ArrangeMenuItems[i].Text) > -1)
            {
                ArrangeMenuItems[i].Disabled = true;
            }
            else
            {
                ArrangeMenuItems[i].Disabled = false;
            }
        }
    }
    private void DropDownWindowButtonOpen()
    {
        this.ItemSelection();
    }

    public class ContextMenuItemModel
    {
        public List<ContextMenuItemModel> Items { get; set; }
        public string Text { get; set; }
        public string Id { get; set; }
        public string IconCss { get; set; }
        public Boolean Separator { get; set; }
        public Boolean Disabled { get; set; }
    }

    internal List<  ContextMenuItemModel> EditMenuItems = new List<  ContextMenuItemModel>
{
    new   ContextMenuItemModel {Id ="EditMenuItemsUndo", Text= "Undo", IconCss="sf-icon-Undo" },
    new   ContextMenuItemModel { Id ="EditMenuItemsRedo",Text= "Redo", IconCss="sf-icon-Redo" },
    new   ContextMenuItemModel { Separator= true },
    new   ContextMenuItemModel { Id ="EditMenuItemsCut",Text= "Cut", IconCss="sf-icon-Cut" },
    new   ContextMenuItemModel { Id ="EditMenuItemsCopy",Text= "Copy", IconCss="sf-icon-Copy" },
    new   ContextMenuItemModel {Id ="EditMenuItemsPaste", Text= "Paste", IconCss="sf-icon-Paste" },
    new   ContextMenuItemModel {Id ="EditMenuItemsDelete", Text= "Delete", IconCss="sf-icon-Delete" },
    new   ContextMenuItemModel { Separator= true },
    new   ContextMenuItemModel {Id ="EditMenuItemsDuplicate", Text= "Duplicate", IconCss = "sf-icon-blank" },
    new   ContextMenuItemModel { Separator= true},
    new   ContextMenuItemModel { Id ="EditMenuItemsSelectAll",Text= "Select All", IconCss = "sf-icon-blank" },
};

    private List<  ContextMenuItemModel> FileMenuItems = new List<  ContextMenuItemModel>
{
    new   ContextMenuItemModel {Id ="FileMenuItemsNew", Text = "New", IconCss = "sf-icon-blank" },
    new   ContextMenuItemModel {Id ="FileMenuItemsOpen", Text = "Open", IconCss = "sf-icon-blank" },
    new   ContextMenuItemModel { Separator = true },
    new   ContextMenuItemModel { Id ="FileMenuItemsSave",Text = "Save", IconCss="sf-icon-Save" },
    new   ContextMenuItemModel { Id ="FileMenuItemsSaveAs",Text = "Save As", IconCss = "sf-icon-blank" },
    new   ContextMenuItemModel {Id ="FileMenuItemsExport", Text = "Export", IconCss="sf-icon-Export" },
    new   ContextMenuItemModel { Separator = true},
    new   ContextMenuItemModel { Id ="FileMenuItemsPrint",Text = "Print",  IconCss="sf-icon-Print" }

};
    private List<  ContextMenuItemModel> ViewMenuItems = new List<  ContextMenuItemModel>
    {
        new   ContextMenuItemModel { Id ="ViewMenuItemsZoomIn",Text="Zoom In", IconCss="sf-icon-ZoomIn" },
        new   ContextMenuItemModel { Id ="ViewMenuItemsZoomOut",Text="Zoom Out", IconCss="sf-icon-ZoomOut" },
        new   ContextMenuItemModel { Separator= true },
        new   ContextMenuItemModel { Text ="Fit To Screen", IconCss = "sf-icon-blank" },
        new   ContextMenuItemModel { Separator= true },
        new   ContextMenuItemModel { Text="Show Grid" ,IconCss="sf-icon-Selection"},
        new   ContextMenuItemModel { Separator= true },
        new   ContextMenuItemModel { Text="Snap To Grid", IconCss = "sf-icon-blank" }
    };
    private List<  ContextMenuItemModel> ArrangeMenuItems = new List<  ContextMenuItemModel>
    {
        new   ContextMenuItemModel { Id ="ArrangeMenuItemsSendToBack",Text="Send To Back", IconCss="sf-icon-Sendback" },
                new   ContextMenuItemModel { Id ="ArrangeMenuItemsBringToFront",Text= "Bring To Front", IconCss="sf-icon-BringFront" },
                new   ContextMenuItemModel { Text="Send Backward", IconCss="sf-icon-SendBackward" },
                new   ContextMenuItemModel { Text="Bring Forward", IconCss="sf-icon-BringForward" },
                new   ContextMenuItemModel { Separator= true },
                new   ContextMenuItemModel
                {
                    Text = "Align Objects",
                    Items = new List<  ContextMenuItemModel>
                    {
                        new   ContextMenuItemModel { Text="Left", IconCss="sf-icon-AlignLeft" },
                        new   ContextMenuItemModel { Text="Right", IconCss="sf-icon-AlignRight" },
                        new   ContextMenuItemModel { Text="Center", IconCss="sf-icon-AlignHorizontally" },
                        new   ContextMenuItemModel { Text="Top", IconCss="sf-icon-AilgnTop"},
                        new   ContextMenuItemModel { Text="Bottom", IconCss="sf-icon-AlignBottom" },
                        new   ContextMenuItemModel { Text="Middle", IconCss="sf-icon-AlignVertically" }
                    },
                    IconCss = "sf-icon-blank"
                },
                new   ContextMenuItemModel
                {
                    Text = "Distribute Objects",
                    Items = new List<  ContextMenuItemModel>
                    {
                        new   ContextMenuItemModel {Text="Horizontally", IconCss="sf-icon-DistributeHorizontal" },
                        new   ContextMenuItemModel {Text="Vertically", IconCss="sf-icon-DistributeVertical" }
                    },
                    IconCss = "sf-icon-blank"
                },
                new   ContextMenuItemModel {
                    Text = "Match Size",
                    IconCss = "sf-icon-blank",
                    Items = new List<  ContextMenuItemModel>
                    {
                        new   ContextMenuItemModel { Text="Both Width and Height" },
                        new   ContextMenuItemModel { Text="Width" },
                        new   ContextMenuItemModel { Text="Height" },
                    }
                },
                new   ContextMenuItemModel { Separator= true },
                new   ContextMenuItemModel { Id ="ArrangeMenuItemsGroup",Text="Group", IconCss = "sf-icon-blank" },
                new   ContextMenuItemModel { Id ="ArrangeMenuItemsUngroup",Text="Ungroup", IconCss = "sf-icon-blank" }
            };
    internal List<  ContextMenuItemModel> WindowMenuItems = new List<  ContextMenuItemModel>
        {
            new   ContextMenuItemModel { Text="Show Toolbar",IconCss="sf-icon-Selection" },
            new   ContextMenuItemModel { Text="Show Stencil",IconCss="sf-icon-Selection"},
            new   ContextMenuItemModel { Text="Show Properties",IconCss="sf-icon-Selection" },
        };
    private bool IsParent(string Text)
    {
        if (Text == "File" || Text == "Edit" || Text == "View" || Text == "Arrange" || Text == "Window" || Text == "Help")
            return true;
        else
            return false;
    }

    private string[] FieldChildren = new string[] { "Options" };

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            if (SaveDialogBox != null)
                SaveDialogBox.Parent = this;
            if (ExportDialogBox != null)
                ExportDialogBox.Parent = this;
            if (PrintDialogBox != null)
                PrintDialogBox.Parent = this;
        }

    }

    public bool enablePasteButten = false;
    public string SelectNewOption = "";
    public async Task MenuClick(Syncfusion.Blazor.Navigations.MenuEventArgs<ContextMenuItemModel> args)
    {
        bool Edit = false;
        bool File = false;
        bool Window = false;
        bool view = false;
        bool Arrange = false;

        Syncfusion.Blazor.Diagram.SfDiagramComponent diagram = Parent.DiagramContent.Diagram;
        string commandType = args.Item.Text.Replace(" ", "");
        switch (commandType.ToLower())
        {
            case "new":
                #if SERVER || WASM
                File = true;
                await jsRuntime.InvokeVoidAsync("CommonKeyboardCommands_newDiagram");
                #endif
                #if MAUI
                File = true;
                if (string.IsNullOrEmpty(SelectNewOption))
                {
                    SelectNewOption  = commandType.ToLower();
                }
                SaveDialogBox.DiagramfileName = await jsRuntime.InvokeAsync<string>("getDiagramFileName", "");
                await SaveDialogBox.SaveDialog.Show();
                #endif
                break;
            case "open":
                File = true;
                await OpenUploadBox(true, ".json");
                break;
            case "undo":
                Edit = true;
                if(diagram.SelectionSettings.Nodes.Count >1 || diagram.SelectionSettings.Connectors.Count > 1)
                {
                    diagram.StartGroupAction();
                }
                diagram.Undo();
                if(diagram.SelectionSettings.Nodes.Count >1 || diagram.SelectionSettings.Connectors.Count > 1)
                {
                    diagram.EndGroupAction();
                }
                break;
            case "redo":
                Edit = true;
                if(diagram.SelectionSettings.Nodes.Count >1 || diagram.SelectionSettings.Connectors.Count > 1)
                {
                    diagram.StartGroupAction();
                }
                diagram.Redo();
                if(diagram.SelectionSettings.Nodes.Count >1 || diagram.SelectionSettings.Connectors.Count > 1)
                {
                    diagram.EndGroupAction();
                }
                break;
            case "cut":
                Edit = true;
                if (this.Parent.OrgChartPropertyPanel.IsOrgChart)
                {
                    foreach (Node node in diagram.SelectionSettings.Nodes)
                    {
                        string nodeID = node.ID;

                        Dictionary<string, object> objectdictionary = new Dictionary<string, object>();
                        objectdictionary.Add(node.ID, null);

                        node.AdditionalInfo = objectdictionary;
                    }
                }
                this.Parent.OrgChartPropertyPanel.isCopy = true;
                diagram.Cut();
                enablePasteButten = true;
                break;
            case "copy":
                Edit = true;
                enablePasteButten = true;
                List<string> nodeIDs = new List<string>();
                if (this.Parent.OrgChartPropertyPanel.IsOrgChart)
                {
                    foreach (Node node in diagram.SelectionSettings.Nodes)
                    {
                        string nodeID = node.ID;

                        Dictionary<string, object> objectdictionary = new Dictionary<string, object>();
                        objectdictionary.Add(node.ID, null);

                        node.AdditionalInfo = objectdictionary;
                    }
                }
                diagram.Copy();
                this.Parent.OrgChartPropertyPanel.isCopy = true;

                break;
            case "paste":
                Edit = true;
                diagram.Paste();
                this.Parent.OrgChartPropertyPanel.isCopy = false;
                break;
            case "delete":
                Edit = true;
                bool GroupAction = false;
                diagram.BeginUpdate();
                if(diagram.SelectionSettings.Nodes.Count > 1 || diagram.SelectionSettings.Connectors.Count > 1 || ((diagram.SelectionSettings.Nodes.Count + diagram.SelectionSettings.Connectors.Count) > 1))
                {
                    GroupAction = true;
                }
                if (GroupAction)
                {
                    diagram.StartGroupAction();
                }
                if (diagram.SelectionSettings.Nodes.Count != 0)
                {
                    for (var i = diagram.SelectionSettings.Nodes.Count-1; i >=0; i--)
                    {
                        var item = diagram.SelectionSettings.Nodes[i];

                        diagram.Nodes.Remove(item);
                    }
                }
                if (diagram.SelectionSettings.Connectors.Count != 0)
                {
                    for (var i = diagram.SelectionSettings.Connectors.Count-1; i >=0; i--)
                    {
                        var item1 = diagram.SelectionSettings.Connectors[i];

                        diagram.Connectors.Remove(item1);
                    }
                }
                if (GroupAction)
                {
                    diagram.EndGroupAction();
                }
                diagram.EndUpdate();
                break;
            case "duplicate":
                Edit = true;
                diagram.Copy();
                diagram.Paste();
                break;
            case "selectall":
                Edit = true;
                diagram.SelectAll();
                break;
            case "save":
                File = true;
                if (this.Parent.OrgChartPropertyPanel.IsOrgChart)
                {
                    foreach (Node node in diagram.Nodes)
                    {

                        string nodeID = node.ID;
                        Dictionary<string, string> textBoxValues = this.Parent.OrgChartPropertyPanel.TextBoxDictionary[nodeID];

                        Dictionary<string, bool> checkBoxValues = new Dictionary<string, bool>();

                        Dictionary<string, object> objectdictionary = new Dictionary<string, object>();

                        foreach (var key in textBoxValues)
                        {
                            string textValue = this.Parent.OrgChartPropertyPanel.TextBoxDictionary[nodeID][key.Key];
                            bool checkboxValue = this.Parent.OrgChartPropertyPanel.CheckBoxDictionary[nodeID][key.Key];
                            checkBoxValues = new Dictionary<string, bool>();
                            checkBoxValues.Add(textValue, checkboxValue);
                            objectdictionary.Add(key.Key, checkBoxValues);
                        }

                        node.AdditionalInfo = objectdictionary;
                    }
                }
                string fileName = await jsRuntime.InvokeAsync<string>("getDiagramFileName", "");
                await Download(fileName);
                break;
            case "saveas":
                File = true;
                if (this.Parent.OrgChartPropertyPanel.IsOrgChart)
                {
                    foreach (Node node in diagram.Nodes)
                    {
                        string nodeID = node.ID;
                        Dictionary<string, string> textBoxValues = this.Parent.OrgChartPropertyPanel.TextBoxDictionary[nodeID];

                        Dictionary<string, bool> checkBoxValues = new Dictionary<string, bool>();

                        Dictionary<string, object> objectdictionary = new Dictionary<string, object>();

                        foreach (var key in textBoxValues)
                        {
                            string textValue = this.Parent.OrgChartPropertyPanel.TextBoxDictionary[nodeID][key.Key];
                            bool checkboxValue = this.Parent.OrgChartPropertyPanel.CheckBoxDictionary[nodeID][key.Key];
                            checkBoxValues = new Dictionary<string, bool>();
                            checkBoxValues.Add(textValue, checkboxValue);
                            objectdictionary.Add(key.Key, checkBoxValues);
                        }

                        node.AdditionalInfo = objectdictionary;
                    }
                }
                SaveDialogBox.DiagramfileName = await jsRuntime.InvokeAsync<string>("getDiagramFileName", "");
                await SaveDialogBox.SaveDialog.Show();
                break;
            case "print":
                #if SERVER || WASM
                File = true;
                await PrintDialogBox.PrintDialog.ShowAsync();
                #endif
                #if MAUI
                File = true;
                await jsRuntime.InvokeAsync<string>("printContent",diagram.ID);
                #endif
                break;
            case "export":
                File = true;
                await ExportDialogBox.ExportDialog.ShowAsync();
                break;
            case "sendtoback":
                Arrange = true;
                if (diagram.SelectionSettings.Nodes.Count > 0 || diagram.SelectionSettings.Connectors.Count > 0)
                {
                    diagram.SendToBack();
                }
                break;
            case "sendbackward":
                Arrange = true;
                if (diagram.SelectionSettings.Nodes.Count > 0 || diagram.SelectionSettings.Connectors.Count > 0)
                {
                    diagram.SendBackward();
                }
                break;
            case "bringtofront":
                Arrange = true;
                if (diagram.SelectionSettings.Nodes.Count > 0 || diagram.SelectionSettings.Connectors.Count > 0)
                {
                    diagram.BringToFront();
                }
                break;
            case "bringforward":
                Arrange = true;
                if (diagram.SelectionSettings.Nodes.Count > 0 || diagram.SelectionSettings.Connectors.Count > 0)
                {
                    diagram.BringForward();
                }
                break;
            case "group":
                Arrange = true;
                if (diagram.SelectionSettings.Nodes.Count + diagram.SelectionSettings.Connectors.Count > 1)
                {
                    Parent.DiagramContent.GroupObjects();
                }
                break;
            case "ungroup":
                Arrange = true;
                if (diagram.SelectionSettings.Nodes.Count + diagram.SelectionSettings.Connectors.Count > 0)
                {
                    Parent.DiagramContent.UngroupObjects();
                }
                break;
            case "showtoolbar":
                Window = true;
                await Parent.Toolbar.HideElements("hide-toolbar");
                WindowMenuItems[0].IconCss = WindowMenuItems[0].IconCss == "sf-icon-Selection" ? "sf-icon-Remove" : "sf-icon-Selection";
                StateHasChanged();
                break;
            case "showstencil":
                Window = true;
                await Parent.Toolbar.HideElements("hide-palette");
                int index = WindowMenuItems.FindIndex(item => item.Text == "Show Stencil");
                WindowMenuItems[index].IconCss = WindowMenuItems[index].IconCss == "sf-icon-Selection" ? "sf-icon-Remove" : "sf-icon-Selection";
                StateHasChanged();
                break;
            case "showproperties":
                Window = true;
                await Parent.Toolbar.HidePropertyContainer();
                Parent.Toolbar.StateChanged();
                break;
            case "showshortcuts":
                Window = true;
                Parent.ShowHideShortcutKey();
                break;
            case "left":
                Arrange = true;
                diagram.SetAlign(AlignmentOptions.Left);
                break;
            case "right":
                Arrange = true;
                diagram.SetAlign(AlignmentOptions.Right);
                break;
            case "center":
                Arrange = true;
                diagram.SetAlign(AlignmentOptions.Center);
                break;
            case "top":
                Arrange = true;
                diagram.SetAlign(AlignmentOptions.Top);
                break;
            case "bottom":
                Arrange = true;
                diagram.SetAlign(AlignmentOptions.Bottom);
                break;
            case "middle":
                Arrange = true;
                diagram.SetAlign(AlignmentOptions.Middle);
                break;
            case "horizontally":
                Arrange = true;
                diagram.SetDistribute(DistributeOptions.RightToLeft);
                break;
            case "vertically":
                Arrange = true;
                diagram.SetDistribute(DistributeOptions.BottomToTop);
                break;
            case "width":
                Arrange = true;
                diagram.SetSameSize(SizingMode.Width);
                break;
            case "height":
                Arrange = true;
                diagram.SetSameSize(SizingMode.Height);
                break;
            case "bothwidthandheight":
                Arrange = true;
                diagram.SetSameSize(SizingMode.Both);
                break;
            case "showgrid":
                view = true;
                diagram.BeginUpdate();
                Parent.DiagramContent.SnapConstraint = Parent.DiagramContent.SnapConstraint ^ SnapConstraints.ShowLines;
                diagram.EndUpdate();
                ViewMenuItems[5].IconCss = ViewMenuItems[5].IconCss == "sf-icon-blank" ? "sf-icon-Selection" : "sf-icon-blank";
                break;
            case "snaptogrid":
                view = true;
                Parent.DiagramContent.SnapConstraint = Parent.DiagramContent.SnapConstraint ^ SnapConstraints.SnapToLines;
                ViewMenuItems[7].IconCss = ViewMenuItems[7].IconCss == "sf-icon-blank" ? "sf-icon-Selection" : "sf-icon-blank";
                break;
            case "fittoscreen":
                view = true;
                FitOptions fitoption = new FitOptions()
                {
                    Mode = FitMode.Both,
                    Region = DiagramRegion.PageSettings,
                };
                Parent.DiagramContent.Diagram.FitToPage(fitoption);
                break;
            case "zoomin":
                view = true;
                Parent.DiagramContent.ZoomTo(new DiagramMainContent.ZoomOptions() { Type = "ZoomIn", ZoomFactor = 0.2 });
                Parent.Toolbar.DiagramZoomValueChange();
                break;
            case "zoomout":
                view = true;
                Parent.DiagramContent.ZoomTo(new DiagramMainContent.ZoomOptions() { Type = "ZoomOut", ZoomFactor = 0.2 });
                Parent.Toolbar.DiagramZoomValueChange();
                break;
        }
        if(Edit)
            EditButton.Toggle();
        if (File)
            FileButton.Toggle();
        if (Window)
            WindowButton.Toggle();
        if (view)
            ViewButton.Toggle();
        if (Arrange)
            ArrangeButton.Toggle();
    }

    public async Task OpenUploadBox(bool isOpen, string extensionType)
    {
        ExtensionType = extensionType;
        await FileUtil.Click(jsRuntime);
        StateHasChanged();
    }
    public void ItemSelection()
    {
        List<string> DisableCollection = new List<string>();
        double DiagramCount = Parent.DiagramContent.Diagram.Nodes.Count + Parent.DiagramContent.Diagram.Connectors.Count;
        ObservableCollection<object> collection = new ObservableCollection<object>();
        var nodes = Parent.DiagramContent.Diagram.SelectionSettings.Nodes;
        var connectors = Parent.DiagramContent.Diagram.SelectionSettings.Connectors;

        foreach (Node node in nodes)
        {
            collection.Add(node);
        }
        foreach (Connector connector in connectors)
        {
            collection.Add(connector);
        }


        Node node1 = collection.Count > 0 ? collection[0] as Node : null;
        Node node2 = collection.Count > 0 ? collection[0] as NodeGroup : null;
        Connector connector1 = collection.Count > 0 ? collection[0] as Connector : null;

        bool isLock = ((node1 != null && node1.Constraints.HasFlag(NodeConstraints.Drag)) || (connector1 != null && connector1.Constraints.HasFlag(ConnectorConstraints.Drag))) ? false : true;

        Dictionary<string, bool> Select = new Dictionary<string, bool>()
{
            {"Undo",!Parent.DiagramContent.IsUndo},
            {"Redo",!Parent.DiagramContent.IsRedo},
            {"Cut",collection.Count == 0?true:false},
            {"Copy",collection.Count == 0?true:false},
            {"Paste",!enablePasteButten},
            {"Delete",collection.Count == 0?true:false},
            {"Duplicate",collection.Count == 0?true:false},
            {"Select All",DiagramCount == 0?true:false},
        };
        Dictionary<string, bool> ArrangeSelect = new Dictionary<string, bool>()
{
            {"Send To Back",(collection.Count > 1 || collection.Count == 0)?true:false},
            {"Bring To Front",(collection.Count > 1 || collection.Count == 0)?true:false},
            {"Send Backward",(collection.Count > 1 || collection.Count == 0)?true:false},
            {"Bring Forward",(collection.Count > 1 || collection.Count == 0)?true:false},
            {"Align Objects",(collection.Count == 1 || collection.Count == 0)?true:false},
            {"Distribute Objects",(collection.Count == 1 || collection.Count == 0)?true:false},
            {"Match Size",(collection.Count == 1 || collection.Count == 0)?true:false},
            {"Lock",isLock},
            {"Unlock",(collection.Count == 0 ||!isLock)?true:false},
            {"Group",(collection.Count > 1)?false:true||(collection.Count == 1)?true:false||(collection.Count < 1)?false:true},
            {"Ungroup",(collection.Count==1 && node2 != null && (node2 as NodeGroup).Children  != null && (node2 as NodeGroup).Children.Length > 0)?false:true }
        };
        foreach (var Text in Select)
        {
            if (Text.Value)
            {
                DisableCollection.Add(Text.Key);
            }
        }

        foreach (var Text in ArrangeSelect)
        {
            if (Text.Value)
            {
                DisableCollection.Add(Text.Key);
            }
        }
        this.DisableCollection = DisableCollection;
        if (Parent.MindMapPropertyPanel.IsMindMap || Parent.OrgChartPropertyPanel.IsOrgChart)
        {
            ViewMenuItems[5].IconCss = Parent.DiagramContent.SnapConstraint.HasFlag(SnapConstraints.ShowLines) ? "sf-icon-Selection" : "sf-icon-blank";
        }
    }

    public async Task Download(string fileName)
    {
        string data = Parent.DiagramContent.Diagram.SaveDiagram();
        await FileUtil.SaveAs(jsRuntime, data, fileName);
    }

    public void OnUploadSuccess(SuccessEventArgs args)
    {
        if (args.Operation != "remove")
        {
            var file1 = args.File;
            var file = file1.RawFile;
            var fileType = file1.Type.ToString();
        }
    }

    public async Task OnUploadFileSelected(Syncfusion.Blazor.Inputs.UploadingEventArgs args)
    {
        SfDiagramComponent Diagram = Parent.DiagramContent.Diagram;
        if (args.FileData.Type == "json")
        {
            Parent.DiagramContent.DiagramSpinnerObj.Show();// = true;
            await Task.Delay(100);
            string json = await FileUtil.LoadFile(jsRuntime, args.FileData);
            json = json.Replace(System.Environment.NewLine, string.Empty);
            await Parent.DiagramContent.Diagram.LoadDiagram(json.ToString());
            Parent.DiagramContent.DiagramSpinnerObj.Hide();
        }
        else
        {

            Node Node = Diagram.SelectionSettings.Nodes[0];
            Diagram.BeginUpdate();
            Node.Shape = new ImageShape() { Type = NodeShapes.Image, Source = args.FileData.RawFile.ToString() };
            Diagram.EndUpdate();
        }
    }

    public async Task ExportDiagram(Syncfusion.Blazor.Diagram.DiagramExportSettings exportOptions, string exportType, string fileName)
    {
        var diagram = Parent.DiagramContent.Diagram;
        DiagramExportFormat exportFormat = DiagramExportFormat.JPEG;
        var images = await diagram.ExportAsync(exportFormat, exportOptions);
        var Orientation = (Parent.DiagramContent.DiagramOrientation == PageOrientation.Landscape) ? PdfPageOrientation.Landscape : PdfPageOrientation.Portrait;
        if (exportType.ToString() == "PDF")
        {
            await ExportToPdf(fileName, Orientation, true, images);
        }
        else
        {
            exportFormat = (DiagramExportFormat)(Enum.Parse(typeof(DiagramExportFormat), exportType.ToString(), true));
            await diagram.ExportAsync(fileName, exportFormat, exportOptions);
        }
    }

    private async Task<string> ExportToPdf(string fileName, PdfPageOrientation orientation, bool allowDownload, string[] images)
    {
        PdfDocument document = new PdfDocument();
        document.PageSettings.Orientation = orientation;
        document.PageSettings.Margins = new PdfMargins() { Left = 0, Right = 0, Top = 0, Bottom = 0 };
        string base64String;
        var dict = images;
        for (int i = 0; i < dict.Count(); i++)
        {
            base64String = dict[i];
            using (MemoryStream initialStream = new MemoryStream(Convert.FromBase64String(base64String.Split("base64,")[1])))
            {
                Stream stream = initialStream as Stream;
                PdfPage page = document.Pages.Add();
                PdfGraphics graphics = page.Graphics;
#pragma warning disable CA2000
                PdfBitmap image = new PdfBitmap(stream);
#pragma warning restore CA2000
                graphics.DrawImage(image, 0, 0);

            }
        }
        using (MemoryStream memoryStream = new MemoryStream())
        {
            document.Save(memoryStream);
            memoryStream.Position = 0;
            base64String = Convert.ToBase64String(memoryStream.ToArray());
            if (allowDownload)
            {
                await JSRuntimeExtensions.InvokeAsync<string>(jsRuntime, "downloadPdf", new object[] { base64String, fileName });
                base64String = string.Empty;
            }
            else
            {
                base64String = "data:application/pdf;base64," + base64String;
            }

            document.Dispose();
        }

        return base64String;
    }

    public async Task PrintDiagram(Syncfusion.Blazor.Diagram.DiagramPrintSettings printOptions)
    {
        var diagram = Parent.DiagramContent.Diagram;

        await diagram.PrintAsync(printOptions);
    }

    public bool EnableMenuItems(string itemText, ObservableCollection<object> collection)
    {

        if (itemText != "")
        {
            var commandType = itemText.Replace(" ", "");
            if (collection.Count == 0)
            {
                switch (commandType.ToLower())
                {
                    case "cut":
                        return true;
                    case "copy":
                        return true;
                    case "delete":
                        return true;
                    case "duplicate":
                        return true;
                }
            }

            if (!enablePasteButten && itemText == "Paste")
            {
                return true;
            }
            if ( itemText == "Undo")
            {

                return !this.Parent.DiagramContent.IsUndo;
            }
            if ( itemText == "Redo")
            {

                return !this.Parent.DiagramContent.IsRedo;
            }
            if (itemText == "Select All")
            {
                if (collection.Count == 0)
                {
                    return true;
                }
            }

            if (collection.Count > 1 || collection.Count == 0)
            {
                commandType = itemText.Replace(" ", "");
                switch (commandType.ToLower())
                {
                    case "sendtoback":
                        return true;
                    case "bringtofront":
                        return true;
                    case "sendbackward":
                        return true;
                    case "bringforward":
                        return true;
                }
            }

            if (collection.Count == 1 || collection.Count == 0)
            {
                commandType = itemText.Replace(" ", "");
                switch (commandType.ToLower())
                {
                    case "right":
                        return true;
                    case "left":
                        return true;
                    case "center":
                        return true;
                    case "top":
                        return true;
                    case "bottom":
                        return true;
                    case "middle":
                        return true;
                    case "horizontally":
                        return true;
                    case "vertically":
                        return true;
                    case "bothwidthandheight":
                        return true;
                    case "width":
                        return true;
                    case "height":
                        return true;
                    case "lock":
                        return true;
                    case "unlock":
                        return true;
                }
            }
        }
        return false;

    }

    public void CreditCardProcessing()
    {
        diagramName = "Credit Card Processing";
        StateHasChanged();
    }
    public async Task BusinessPlanningDiagram()
    {
        diagramName = "Bussiness Planning";
        await Parent.Toolbar.HideElements("hide-palette");
        StateHasChanged();
    }
    public async Task TQMDiagram()
    {
        diagramName = "Quality Management";
        Parent.MindMapPropertyPanel.connectorType = ConnectorSegmentType.Orthogonal;
        await Parent.Toolbar.HideElements("hide-palette");
        StateHasChanged();
    }
    public async Task SoftwareLifeCycleDiagram()
    {
        diagramName = "Software Life Cycle";
        Parent.MindMapPropertyPanel.connectorType = ConnectorSegmentType.Straight;
        await Parent.Toolbar.HideElements("hide-palette");
        StateHasChanged();
    }
    public async Task OrgTemplateStyle1()
    {
        diagramName = "Organization Template 1";
        await Parent.Toolbar.HideElements("hide-palette");
        StateHasChanged();
    }
    public async Task OrgTemplateStyle2()
    {
        diagramName = "Organization Template 2";
        await Parent.Toolbar.HideElements("hide-palette");
        StateHasChanged();
    }
    public async Task OrgTemplateStyle3()
    {
        diagramName = "Organization Template 3";
        await Parent.Toolbar.HideElements("hide-palette");
        StateHasChanged();
    }
    public void StateChanged()
    {
        StateHasChanged();
    }
}