@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Lists

@namespace DiagramBuilder

<div id="moreShapesDiv" class="db-palette-more-shapes">
    <div class="db-palette-more-shapes-text" @onclick="@MoreShapesClick">More Shapes</div>
</div>
<SfDialog @ref="@MoreShapesPalette" ID="moreShapesDialog" @bind-Visible="MoreShapesVisible" Width="695px" Height="470px" ShowCloseIcon="true" IsModal="true" AllowDragging="true">
    <DialogTemplates>
        <Header>
            Shapes
        </Header>
        <Content>
            <div class="row">
                <div class="col-xs-3 temp-left-pane">
                    <SfListView @ref="@MoreShapesList" ID="moreShapesList" ShowCheckBox="true" DataSource="@ListViewData" EnablePersistence="true">
                        <ListViewFieldSettings TValue="ListViewDataFields" Id="Id" Text="Text" IsChecked="Checked"></ListViewFieldSettings>
                        <ListViewEvents TValue="ListViewDataFields" Clicked="@ListViewSelectionChange">
                        </ListViewEvents>
                    </SfListView>
                </div>
                <div class="col-xs-9 diagramTemplates temp-right-pane" style="padding-left:0px;padding-right:0px">
                    <img id="shapePreviewImage" src="@ShapeImageLoaction" style="@BackgroundImage " alt="@alternateText"/>
                </div>
            </div>
        </Content>
    </DialogTemplates>
    <DialogButtons>
        <DialogButton OnClick="@BtnSave"Content="Apply" IsPrimary="true" CssClass="e-flat e-db-primary">
        </DialogButton>
        <DialogButton OnClick="@btnCancelClick" Content="Cancel" CssClass="e-flat">
        </DialogButton>
    </DialogButtons>
</SfDialog>
@code {
    public DiagramLeftSideBar Parent;
    SfDialog MoreShapesPalette;
    SfListView<ListViewDataFields> MoreShapesList;
    List<ListViewDataFields> SelectedItems = new List<ListViewDataFields>();
    bool MoreShapesVisible = false;
    string ShapeImageLoaction = "./assets/dbstyle/shapes_images/flow.png";
    string BackgroundImage = "background-image: url(./assets/dbstyle/shapes_images/flow.png);";
    public string OverviewSpanClassName = "db-overview";
    string alternateText = "flowshapes";

    public class ListViewDataFields
    {
        public string Id { get; set; }
        public string Text { get; set; }
        public bool Checked { get; set; }
    }
    public List<ListViewDataFields> ListViewData = new List<ListViewDataFields>()
    {
        new ListViewDataFields(){ Text= "Flow", Id="flowShapes", Checked= true },
        new ListViewDataFields(){ Text= "Basic", Id="basicShapes", Checked= true },
        new ListViewDataFields(){ Text= "Connectors", Id="connectorsShapes", Checked= true },
    };

    private void MoreShapesClick()
    {
        MoreShapesVisible = true;
    }
    private void ListViewSelectionChange(Syncfusion.Blazor.Lists.ClickEventArgs<ListViewDataFields> args)
    {
        ShapeImageLoaction = "./assets/dbstyle/shapes_images/" + args.Text.ToLower() + ".png";
        BackgroundImage = "background-image: url(./assets/dbstyle/shapes_images/" + args.Text.ToLower() + ".png" +");";
        alternateText = args.Text.ToLower() + "shapes";

        foreach (ListViewDataFields data in SelectedItems)
        {
            if (data.Text == args.Text)
            {
                SelectedItems.Remove(data);
                break;
            }
        }
        (args.ItemData as ListViewDataFields).Checked = args.IsChecked;
        args.Cancel = true;
        SelectedItems.Add(args.ItemData as ListViewDataFields);
    }

    private async Task BtnSave()
    {
        Parent.Parent.Parent.SpinnerObj.Show();
        await Parent.DiagramSymbolpalette.UpdatePalettes(SelectedItems);
        Parent.Parent.Parent.SpinnerObj.Hide();
        await MoreShapesPalette.Hide();
    }


    private async Task btnCancelClick()
    {
        await MoreShapesPalette.Hide();
    }
}
