@using Newtonsoft.Json;
@using Syncfusion.Blazor.Diagram
@using Syncfusion.Blazor.Buttons
@using System.Collections.ObjectModel
@using static DiagramBuilder.OrgChartPropertyContainer;

@inherits SampleBaseComponent;

@namespace DiagramBuilder

<div class="db-diagram-container">
    <div id="diagramContainerDiv" class=@DiagramContainerClassName style="position:relative;">
        <SpinnerComponent @ref="DiagramSpinnerObj"></SpinnerComponent>
        <SfDiagramComponent @ref="@Diagram" NodeCreating="@NodeDefaults"  ConnectorCreating= "@ConnectorDefaults" @bind-Width="@DiagramWidth" @bind-Height="@DiagramHeight" SizeChanged="@SizeChanged" PositionChanged ="@PositionChanged" RotationChanged="@RotateChanged" SelectionChanged ="@SelectionChanged" DragDrop="@Drop" @bind-Nodes="@nodes" @bind-Connectors="@connectors" HistoryChanged="@HistoryChange"  InteractionController="@DiagramTool" @bind-DrawingObject="@DiagramDrawingObject" ScrollChanged="ScrollChanged" GetCustomTool="@GetCustomTool" CollectionChanged="CollectionChanged"  TextChanged="TextChanged" Created="Created">
            <PageSettings @bind-ShowPageBreaks="@DiagramShowPageBreaks" @bind-Orientation="@DiagramOrientation" @bind-Width="@DiagramPageWidth" @bind-Height="@DiagramPageHeight" @bind-MultiplePage=@IsMultiplePage>
                <BackgroundStyle @bind-Background="@DiagramBgColor"></BackgroundStyle>
                <PageMargin @bind-Left="@marginLeft" @bind-Top="@marginRight"></PageMargin>
            </PageSettings>
            <SnapSettings @bind-Constraints="@SnapConstraint">
                <HorizontalGridLines LineIntervals="@SnapIntervals" LineColor="@Hlinecolor"></HorizontalGridLines>
                <VerticalGridLines LineIntervals="@SnapIntervals" LineColor="@Hlinecolor"></VerticalGridLines>
            </SnapSettings>
            <ScrollSettings @bind-ScrollLimit="@scrollLimit" @bind-CurrentZoom="@CurrentZoom" @bind-MaxZoom="@maxZoom" @bind-MinZoom="@minZoom"></ScrollSettings>
                <DiagramTemplates>
                    <NodeTemplate>
                        @{
                            var id = (context as Node).ID;
                            if ((context as Node).Shape.Type == NodeShapes.SVG && ((context as Node).ID == "Nativenode1" || id.Split("_")[0] == "Nativenode1"))
                            {
                                <g xmlns="http://www.w3.org/2000/svg">	<g transform="translate(1 1)">		<g>			<path style="fill:#61443C;" d="M61.979,435.057c2.645-0.512,5.291-0.853,7.936-1.109c-2.01,1.33-4.472,1.791-6.827,1.28     C62.726,435.13,62.354,435.072,61.979,435.057z" />			<path style="fill:#61443C;" d="M502.469,502.471h-25.6c0.163-30.757-20.173-57.861-49.749-66.304     c-5.784-1.581-11.753-2.385-17.749-2.389c-2.425-0.028-4.849,0.114-7.253,0.427c1.831-7.63,2.747-15.45,2.731-23.296     c0.377-47.729-34.52-88.418-81.749-95.317c4.274-0.545,8.577-0.83,12.885-0.853c25.285,0.211,49.448,10.466,67.167,28.504     c17.719,18.039,27.539,42.382,27.297,67.666c0.017,7.846-0.9,15.666-2.731,23.296c2.405-0.312,4.829-0.455,7.253-0.427     C472.572,434.123,502.783,464.869,502.469,502.471z" />		</g>		<path style="fill:#8B685A;" d="M476.869,502.471H7.536c-0.191-32.558,22.574-60.747,54.443-67.413    c0.375,0.015,0.747,0.072,1.109,0.171c2.355,0.511,4.817,0.05,6.827-1.28c1.707-0.085,3.413-0.171,5.12-0.171    c4.59,0,9.166,0.486,13.653,1.451c2.324,0.559,4.775,0.147,6.787-1.141c2.013-1.288,3.414-3.341,3.879-5.685    c7.68-39.706,39.605-70.228,79.616-76.117c4.325-0.616,8.687-0.929,13.056-0.939c13.281-0.016,26.409,2.837,38.485,8.363    c3.917,1.823,7.708,3.904,11.349,6.229c2.039,1.304,4.527,1.705,6.872,1.106c2.345-0.598,4.337-2.142,5.502-4.264    c14.373-25.502,39.733-42.923,68.693-47.189h0.171c47.229,6.899,82.127,47.588,81.749,95.317c0.017,7.846-0.9,15.666-2.731,23.296    c2.405-0.312,4.829-0.455,7.253-0.427c5.996,0.005,11.965,0.808,17.749,2.389C456.696,444.61,477.033,471.713,476.869,502.471    L476.869,502.471z" />		<path style="fill:#66993E;" d="M502.469,7.537c0,0-6.997,264.96-192.512,252.245c-20.217-1.549-40.166-5.59-59.392-12.032    c-1.365-0.341-2.731-0.853-4.096-1.28c0,0-0.597-2.219-1.451-6.144c-6.656-34.048-25.088-198.997,231.765-230.144    C485.061,9.159,493.595,8.22,502.469,7.537z" />		<path style="fill:#9ACA5C;" d="M476.784,10.183c-1.28,26.197-16.213,238.165-166.827,249.6    c-20.217-1.549-40.166-5.59-59.392-12.032c-1.365-0.341-2.731-0.853-4.096-1.28c0,0-0.597-2.219-1.451-6.144    C238.363,206.279,219.931,41.329,476.784,10.183z" />		<path style="fill:#66993E;" d="M206.192,246.727c-0.768,3.925-1.365,6.144-1.365,6.144c-1.365,0.427-2.731,0.939-4.096,1.28    c-21.505,7.427-44.293,10.417-66.987,8.789C21.104,252.103,8.816,94.236,7.621,71.452c-0.085-1.792-0.085-2.731-0.085-2.731    C222.747,86.129,211.653,216.689,206.192,246.727z" />		<path style="fill:#9ACA5C;" d="M180.336,246.727c-0.768,3.925-1.365,6.144-1.365,6.144c-1.365,0.427-2.731,0.939-4.096,1.28    c-13.351,4.412-27.142,7.359-41.131,8.789C21.104,252.103,8.816,94.236,7.621,71.452    C195.952,96.881,185.541,217.969,180.336,246.727z" />	</g>	<g>		<path d="M162.136,426.671c3.451-0.001,6.562-2.08,7.882-5.268s0.591-6.858-1.849-9.298l-8.533-8.533    c-3.341-3.281-8.701-3.256-12.012,0.054c-3.311,3.311-3.335,8.671-0.054,12.012l8.533,8.533    C157.701,425.773,159.872,426.673,162.136,426.671L162.136,426.671z" />		<path d="M292.636,398.57c3.341,3.281,8.701,3.256,12.012-0.054c3.311-3.311,3.335-8.671,0.054-12.012l-8.533-8.533    c-3.341-3.281-8.701-3.256-12.012,0.054s-3.335,8.671-0.054,12.012L292.636,398.57z" />		<path d="M296.169,454.771c-3.341-3.281-8.701-3.256-12.012,0.054c-3.311,3.311-3.335,8.671-0.054,12.012l8.533,8.533    c3.341,3.281,8.701,3.256,12.012-0.054c3.311-3.311,3.335-8.671,0.054-12.012L296.169,454.771z" />		<path d="M386.503,475.37c3.341,3.281,8.701,3.256,12.012-0.054c3.311-3.311,3.335-8.671,0.054-12.012l-8.533-8.533    c-3.341-3.281-8.701-3.256-12.012,0.054c-3.311,3.311-3.335,8.671-0.054,12.012L386.503,475.37z" />		<path d="M204.803,409.604c2.264,0.003,4.435-0.897,6.033-2.5l8.533-8.533c3.281-3.341,3.256-8.701-0.054-12.012    c-3.311-3.311-8.671-3.335-12.012-0.054l-8.533,8.533c-2.44,2.44-3.169,6.11-1.849,9.298    C198.241,407.524,201.352,409.603,204.803,409.604z" />		<path d="M332.803,443.737c2.264,0.003,4.435-0.897,6.033-2.5l8.533-8.533c3.281-3.341,3.256-8.701-0.054-12.012    c-3.311-3.311-8.671-3.335-12.012-0.054l-8.533,8.533c-2.44,2.44-3.169,6.11-1.849,9.298    C326.241,441.658,329.352,443.737,332.803,443.737z" />		<path d="M341.336,366.937c2.264,0.003,4.435-0.897,6.033-2.5l8.533-8.533c3.281-3.341,3.256-8.701-0.054-12.012    c-3.311-3.311-8.671-3.335-12.012-0.054l-8.533,8.533c-2.44,2.44-3.169,6.11-1.849,9.298    C334.774,364.858,337.885,366.937,341.336,366.937z" />		<path d="M164.636,454.771l-8.533,8.533c-2.188,2.149-3.055,5.307-2.27,8.271c0.785,2.965,3.1,5.28,6.065,6.065    c2.965,0.785,6.122-0.082,8.271-2.27l8.533-8.533c3.281-3.341,3.256-8.701-0.054-12.012    C173.337,451.515,167.977,451.49,164.636,454.771L164.636,454.771z" />		<path d="M232.903,429.171l-8.533,8.533c-2.188,2.149-3.055,5.307-2.27,8.271c0.785,2.965,3.1,5.28,6.065,6.065    c2.965,0.785,6.122-0.082,8.271-2.27l8.533-8.533c3.281-3.341,3.256-8.701-0.054-12.012    C241.604,425.915,236.243,425.89,232.903,429.171L232.903,429.171z" />		<path d="M384.003,409.604c2.264,0.003,4.435-0.897,6.033-2.5l8.533-8.533c3.281-3.341,3.256-8.701-0.054-12.012    c-3.311-3.311-8.671-3.335-12.012-0.054l-8.533,8.533c-2.44,2.44-3.169,6.11-1.849,9.298    C377.441,407.524,380.552,409.603,384.003,409.604z" />		<path d="M70.77,463.304l-8.533,8.533c-2.188,2.149-3.055,5.307-2.27,8.271s3.1,5.28,6.065,6.065    c2.965,0.785,6.122-0.082,8.271-2.27l8.533-8.533c3.281-3.341,3.256-8.701-0.054-12.012    C79.47,460.048,74.11,460.024,70.77,463.304L70.77,463.304z" />		<path d="M121.97,446.238l-8.533,8.533c-2.188,2.149-3.055,5.307-2.27,8.271c0.785,2.965,3.1,5.28,6.065,6.065    c2.965,0.785,6.122-0.082,8.271-2.27l8.533-8.533c3.281-3.341,3.256-8.701-0.054-12.012    C130.67,442.981,125.31,442.957,121.97,446.238L121.97,446.238z" />		<path d="M202.302,420.638c-1.6-1.601-3.77-2.5-6.033-2.5c-2.263,0-4.433,0.899-6.033,2.5l-8.533,8.533    c-2.178,2.151-3.037,5.304-2.251,8.262c0.786,2.958,3.097,5.269,6.055,6.055c2.958,0.786,6.111-0.073,8.262-2.251l8.533-8.533    c1.601-1.6,2.5-3.77,2.5-6.033C204.802,424.408,203.903,422.237,202.302,420.638L202.302,420.638z" />		<path d="M210.836,463.304c-3.341-3.281-8.701-3.256-12.012,0.054c-3.311,3.311-3.335,8.671-0.054,12.012l8.533,8.533    c2.149,2.188,5.307,3.055,8.271,2.27c2.965-0.785,5.28-3.1,6.065-6.065c0.785-2.965-0.082-6.122-2.27-8.271L210.836,463.304z" />		<path d="M343.836,454.771l-8.533,8.533c-2.188,2.149-3.055,5.307-2.27,8.271c0.785,2.965,3.1,5.28,6.065,6.065    c2.965,0.785,6.122-0.082,8.271-2.27l8.533-8.533c3.281-3.341,3.256-8.701-0.054-12.012    C352.537,451.515,347.177,451.49,343.836,454.771L343.836,454.771z" />		<path d="M429.17,483.904c3.341,3.281,8.701,3.256,12.012-0.054s3.335-8.671,0.054-12.012l-8.533-8.533    c-3.341-3.281-8.701-3.256-12.012,0.054c-3.311,3.311-3.335,8.671-0.054,12.012L429.17,483.904z" />		<path d="M341.336,401.071c2.264,0.003,4.435-0.897,6.033-2.5l8.533-8.533c3.281-3.341,3.256-8.701-0.054-12.012    s-8.671-3.335-12.012-0.054l-8.533,8.533c-2.44,2.441-3.169,6.11-1.849,9.298C334.774,398.991,337.885,401.07,341.336,401.071z" />		<path d="M273.069,435.204c2.264,0.003,4.435-0.897,6.033-2.5l8.533-8.533c3.281-3.341,3.256-8.701-0.054-12.012    s-8.671-3.335-12.012-0.054l-8.533,8.533c-2.44,2.44-3.169,6.11-1.849,9.298C266.508,433.124,269.618,435.203,273.069,435.204z" />		<path d="M253.318,258.138c22.738,7.382,46.448,11.338,70.351,11.737c31.602,0.543,62.581-8.828,88.583-26.796    c94.225-65.725,99.567-227.462,99.75-234.317c0.059-2.421-0.91-4.754-2.667-6.421c-1.751-1.679-4.141-2.52-6.558-2.308    C387.311,9.396,307.586,44.542,265.819,104.5c-28.443,42.151-38.198,94.184-26.956,143.776c-3.411,8.366-6.04,17.03-7.852,25.881    c-4.581-7.691-9.996-14.854-16.147-21.358c8.023-38.158,0.241-77.939-21.57-110.261C160.753,95.829,98.828,68.458,9.228,61.196    c-2.417-0.214-4.808,0.628-6.558,2.308c-1.757,1.667-2.726,4-2.667,6.421c0.142,5.321,4.292,130.929,77.717,182.142    c20.358,14.081,44.617,21.428,69.367,21.008c18.624-0.309,37.097-3.388,54.814-9.138c11.69,12.508,20.523,27.407,25.889,43.665    c0.149,15.133,2.158,30.19,5.982,44.832c-12.842-5.666-26.723-8.595-40.759-8.6c-49.449,0.497-91.788,35.567-101.483,84.058    c-5.094-1.093-10.29-1.641-15.5-1.638c-42.295,0.38-76.303,34.921-76.025,77.217c-0.001,2.263,0.898,4.434,2.499,6.035    c1.6,1.6,3.771,2.499,6.035,2.499h494.933c2.263,0.001,4.434-0.898,6.035-2.499c1.6-1.6,2.499-3.771,2.499-6.035    c0.249-41.103-31.914-75.112-72.967-77.154c0.65-4.78,0.975-9.598,0.975-14.421c0.914-45.674-28.469-86.455-72.083-100.045    c-43.615-13.59-90.962,3.282-116.154,41.391C242.252,322.17,242.793,288.884,253.318,258.138L253.318,258.138z M87.519,238.092    c-55.35-38.567-67.358-129.25-69.833-158.996c78.8,7.921,133.092,32.454,161.458,72.992    c15.333,22.503,22.859,49.414,21.423,76.606c-23.253-35.362-77.83-105.726-162.473-140.577c-2.82-1.165-6.048-0.736-8.466,1.125    s-3.658,4.873-3.252,7.897c0.406,3.024,2.395,5.602,5.218,6.761c89.261,36.751,144.772,117.776,161.392,144.874    C150.795,260.908,115.29,257.451,87.519,238.092z M279.969,114.046c37.6-53.788,109.708-86.113,214.408-96.138    c-2.65,35.375-17.158,159.05-91.892,211.175c-37.438,26.116-85.311,30.57-142.305,13.433    c19.284-32.09,92.484-142.574,212.405-191.954c2.819-1.161,4.805-3.738,5.209-6.76c0.404-3.022-0.835-6.031-3.25-7.892    c-2.415-1.861-5.64-2.292-8.459-1.131C351.388,82.01,279.465,179.805,252.231,222.711    C248.573,184.367,258.381,145.945,279.969,114.046L279.969,114.046z M262.694,368.017c15.097-26.883,43.468-43.587,74.3-43.746    c47.906,0.521,86.353,39.717,85.95,87.625c-0.001,7.188-0.857,14.351-2.55,21.337c-0.67,2.763,0.08,5.677,1.999,7.774    c1.919,2.097,4.757,3.1,7.568,2.676c1.994-0.272,4.005-0.393,6.017-0.362c29.59,0.283,54.467,22.284,58.367,51.617H17.661    c3.899-29.333,28.777-51.334,58.367-51.617c4-0.004,7.989,0.416,11.9,1.254c4.622,0.985,9.447,0.098,13.417-2.467    c3.858-2.519,6.531-6.493,7.408-11.017c7.793-40.473,43.043-69.838,84.258-70.192c16.045-0.002,31.757,4.582,45.283,13.212    c4.01,2.561,8.897,3.358,13.512,2.205C256.422,375.165,260.36,372.163,262.694,368.017L262.694,368.017z" />	</g></g> }
                            else if ((context as Node).Shape.Type == NodeShapes.SVG && ((context as Node).ID == "Nativenode2" || id.Split("_")[0] == "Nativenode2"))
                            {
                                <g><g xmlns="http://www.w3.org/2000/svg">	<g transform="translate(1 1)"><path style="fill:#FDDC42;" d="M417.219,379.501c5.745,13.691,10.675,27.71,14.763,41.984c0.983,2.981,0.203,6.261-2.016,8.48c-2.219,2.219-5.499,2.999-8.48,2.016c-14.282-4.063-28.302-8.993-41.984-14.763l-46.336,26.624v0.085c-1.824,14.741-4.531,29.359-8.107,43.776c-0.638,3.073-2.953,5.524-5.985,6.336c-3.032,0.812-6.262-0.154-8.351-2.496c-10.342-10.73-20.03-22.072-29.013-33.963l-53.333,0.085c-9.013,11.865-18.73,23.177-29.099,33.877c-2.089,2.343-5.319,3.308-8.351,2.496c-3.032-0.812-5.347-3.263-5.985-6.336c-3.583-14.415-6.29-29.034-8.107-43.776v-0.085l-46.336-26.624c-13.691,5.745-27.71,10.675-41.984,14.763c-2.981,0.983-6.261,0.203-8.48-2.016s-2.999-5.499-2.016-8.48c4.063-14.282,8.993-28.302,14.763-41.984l-26.624-46.336h-0.085c-14.741-1.824-29.359-4.531-43.776-8.107c-3.073-0.638-5.524-2.953-6.336-5.985c-0.812-3.032,0.154-6.262,2.496-8.351c10.73-10.342,22.072-20.03,33.963-29.013l-0.085-53.333c-11.865-9.013-23.177-18.73-33.877-29.099c-2.343-2.089-3.308-5.319-2.496-8.351c0.812-3.032,3.263-5.347,6.336-5.985c14.415-3.583,29.034-6.29,43.776-8.107h0.085l26.624-46.336c-5.745-13.691-10.675-27.71-14.763-41.984c-0.983-2.981-0.203-6.261,2.016-8.48s5.499-2.999,8.48-2.016c14.282,4.063,28.303,8.993,41.984,14.763l46.336-26.624v-0.085c1.824-14.741,4.531-29.359,8.107-43.776c0.638-3.073,2.953-5.524,5.985-6.336c3.032-0.812,6.262,0.154,8.351,2.496c10.342,10.73,20.03,22.072,29.013,33.963l53.333-0.085c9.013-11.865,18.73-23.177,29.099-33.877c2.089-2.343,5.319-3.308,8.351-2.496c3.032,0.812,5.347,3.263,5.985,6.336c3.583,14.415,6.29,29.034,8.107,43.776v0.085l46.336,26.624c13.691-5.745,27.71-10.675,41.984-14.763c2.981-0.983,6.261-0.203,8.48,2.016c2.219,2.219,2.999,5.499,2.016,8.48c-4.063,14.282-8.993,28.303-14.763,41.984l26.624,46.336h0.085c14.741,1.824,29.359,4.531,43.776,8.107c3.073,0.638,5.524,2.953,6.336,5.985c0.812,3.032-0.154,6.262-2.496,8.351c-10.73,10.342-22.072,20.03-33.963,29.013l0.085,53.333c11.865,9.013,23.177,18.73,33.877,29.099c2.343,2.089,3.308,5.319,2.496,8.351c-0.812,3.032-3.263,5.347-6.336,5.985c-14.415,3.583-29.034,6.29-43.776,8.107h-0.085"></path><path style="fill:#FFEB49;" d="M497.892,247.574c-17.69-9.664-48.938-25.315-66.996-26.486c-1.624-8.324-3.842-16.52-6.637-24.527c15.052-10.044,34.319-39.362,44.805-56.575c1.723-2.626,1.819-5.999,0.249-8.718c-1.57-2.72-4.539-4.323-7.675-4.144c-20.158,0.476-55.2,2.502-71.417,10.524c-5.53-6.366-11.501-12.337-17.867-17.868c8.021-16.217,10.048-51.258,10.523-71.417c0.179-3.136-1.424-6.105-4.144-7.675c-2.72-1.57-6.093-1.474-8.719,0.249c-17.212,10.487-46.531,29.752-56.575,44.805c-8.007-2.795-16.203-5.013-24.527-6.636c-1.171-18.058-16.823-49.307-26.486-66.997c-1.413-2.805-4.285-4.575-7.426-4.575s-6.013,1.77-7.426,4.575c-9.664,17.69-25.316,48.939-26.486,66.997c-8.324,1.623-16.521,3.841-24.527,6.636c-10.044-15.053-39.362-34.318-56.575-44.805c-2.626-1.723-5.999-1.819-8.719-0.249c-2.72,1.57-4.323,4.539-4.144,7.675c0.475,20.158,2.502,55.199,10.523,71.417c-6.366,5.531-12.336,11.501-17.867,17.868c-16.217-8.022-51.258-10.048-71.417-10.524c-3.136-0.179-6.104,1.424-7.675,4.144c-1.57,2.72-1.474,6.092,0.249,8.718c10.486,17.214,29.753,46.531,44.805,56.576c-2.795,8.007-5.013,16.203-6.637,24.527c-18.058,1.171-49.306,16.822-66.996,26.486c-2.805,1.412-4.575,4.285-4.575,7.426s1.77,6.013,4.575,7.426c17.69,9.665,48.938,25.316,66.996,26.487c1.624,8.324,3.842,16.52,6.637,24.527c-15.053,10.044-34.319,39.362-44.805,56.576c-1.723,2.626-1.819,5.998-0.249,8.718s4.539,4.323,7.675,4.143c20.158-0.475,55.2-2.502,71.417-10.523c5.53,6.366,11.501,12.337,17.867,17.867c-8.021,16.218-10.048,51.259-10.523,71.417c-0.179,3.136,1.424,6.105,4.144,7.675c2.72,1.57,6.093,1.474,8.719-0.249c17.213-10.486,46.53-29.751,56.575-44.805c8.007,2.795,16.203,5.013,24.527,6.637c1.171,18.059,16.823,49.307,26.486,66.996c1.413,2.805,4.285,4.575,7.426,4.575s6.013-1.77,7.426-4.575c9.664-17.689,25.316-48.938,26.486-66.996c8.324-1.624,16.52-3.841,24.527-6.637c10.045,15.054,39.363,34.318,56.575,44.805c2.626,1.723,5.999,1.82,8.719,0.249s4.323-4.539,4.144-7.675c-0.475-20.158-2.502-55.2-10.523-71.417c6.366-5.531,12.336-11.501,17.867-17.867c16.217,8.022,51.258,10.048,71.417,10.523c3.135,0.179,6.104-1.423,7.675-4.143s1.474-6.092-0.249-8.718c-10.486-17.214-29.752-46.532-44.805-56.576c2.796-8.007,5.014-16.203,6.637-24.527c18.058-1.171,49.306-16.822,66.996-26.487c2.805-1.412,4.575-4.285,4.575-7.426C502.467,251.859,500.697,248.986,497.892,247.574z"></path><circle style="fill:#E15919;" cx="255" cy="255" r="179.2"></circle><ellipse style="fill:#FF6E2C;" cx="242.2" cy="255" rx="166.4" ry="179.2"></ellipse><circle style="fill:#FFBE00;" cx="255" cy="255" r="145.067"></circle><ellipse style="fill:#FFC900;" cx="242.2" cy="255" rx="132.267" ry="145.067"></ellipse>	</g>	<g><path d="M502.983,241.087c-8.414-4.598-18.054-9.542-27.801-13.988c8.831-7.271,17.128-14.827,23.234-20.633c4.61-4.239,6.486-10.688,4.869-16.738c-1.617-6.051-6.459-10.704-12.569-12.079c-6.766-1.643-18.167-4.224-30.405-6.256c6.194-8.708,12.055-17.792,17.039-25.969c3.346-5.29,3.484-11.998,0.358-17.421c-3.169-5.387-9.028-8.613-15.275-8.408c-9.558,0.224-20.335,0.757-30.956,1.762c4.002-10.73,7.347-21.391,9.69-29.433c1.863-5.973,0.261-12.486-4.16-16.914c-4.421-4.427-10.931-6.039-16.907-4.186c-6.646,1.935-17.787,5.367-29.458,9.715c1.006-10.626,1.54-21.409,1.766-30.973c0.249-6.255-2.988-12.134-8.408-15.267c-5.433-3.086-12.12-2.952-17.425,0.35c-8.175,4.979-17.254,10.837-25.959,17.026c-1.885-11.384-4.295-22.281-6.266-30.38c-1.367-6.103-6.005-10.945-12.044-12.573c-6.039-1.627-12.482,0.228-16.731,4.819c-4.799,4.991-12.752,13.532-20.721,23.168c-4.433-9.711-9.359-19.311-13.938-27.693C268.006,3.473,262.261,0,256,0s-12.006,3.473-14.917,9.017c-4.594,8.41-9.537,18.049-13.983,27.795c-7.28-8.844-14.831-17.137-20.634-23.233c-4.241-4.609-10.689-6.483-16.739-4.865c-6.05,1.618-10.703,6.46-12.078,12.57c-1.644,6.762-4.223,18.162-6.256,30.398c-8.708-6.192-17.79-12.051-25.968-17.032c-5.305-3.302-11.992-3.436-17.425-0.35c-5.419,3.132-8.657,9.008-8.408,15.263c0.227,9.56,0.759,20.337,1.765,30.958c-10.748-4.011-21.4-7.351-29.423-9.687c-5.975-1.865-12.491-0.264-16.92,4.158c-4.43,4.422-6.043,10.935-4.188,16.913c1.945,6.665,5.382,17.82,9.717,29.456c-10.625-1.007-21.406-1.539-30.967-1.764c-6.25-0.21-12.115,3.016-15.283,8.408c-3.125,5.423-2.987,12.131,0.358,17.421c4.981,8.174,10.84,17.254,17.031,25.959c-11.388,1.886-22.283,4.297-30.373,6.262c-6.108,1.364-10.956,6.004-12.584,12.048s0.23,12.491,4.826,16.74c4.996,4.798,13.54,12.749,23.167,20.712c-9.712,4.434-19.316,9.36-27.7,13.942C3.473,243.996,0,249.739,0,256c0,6.26,3.473,12.004,9.017,14.912c8.415,4.598,18.054,9.543,27.8,13.989c-8.831,7.271-17.127,14.826-23.233,20.632c-4.61,4.239-6.486,10.688-4.869,16.738c1.617,6.051,6.459,10.704,12.569,12.079c6.766,1.643,18.167,4.224,30.406,6.256c-6.194,8.708-12.056,17.791-17.04,25.969c-3.346,5.29-3.484,11.998-0.358,17.421c3.193,5.362,9.036,8.578,15.275,8.408c9.558-0.224,20.335-0.757,30.956-1.762c-4.002,10.73-7.347,21.391-9.69,29.433c-1.816,5.982-0.214,12.477,4.175,16.929c3.175,3.149,7.47,4.909,11.942,4.892c1.676-0.001,3.343-0.244,4.95-0.721c6.646-1.935,17.787-5.367,29.458-9.715c-1.006,10.626-1.54,21.409-1.766,30.973c-0.249,6.255,2.988,12.134,8.408,15.267c5.436,3.078,12.117,2.944,17.425-0.35c8.175-4.979,17.255-10.836,25.96-17.026c1.885,11.383,4.294,22.281,6.265,30.38c1.412,6.095,6.051,10.926,12.083,12.583c1.395,0.371,2.832,0.559,4.275,0.558c4.702-0.018,9.191-1.966,12.417-5.387c4.799-4.991,12.752-13.532,20.721-23.168c4.433,9.711,9.359,19.311,13.938,27.693c2.91,5.544,8.655,9.017,14.917,9.017c6.262,0,12.006-3.473,14.917-9.017c4.594-8.41,9.537-18.049,13.983-27.795c7.28,8.844,14.831,17.137,20.634,23.233c3.237,3.44,7.743,5.401,12.467,5.425c1.44,0,2.875-0.188,4.267-0.558c6.029-1.656,10.667-6.481,12.083-12.571c1.644-6.762,4.223-18.162,6.256-30.398c8.708,6.192,17.791,12.051,25.969,17.032c5.308,3.294,11.99,3.428,17.425,0.35c5.419-3.132,8.657-9.008,8.408-15.263c-0.227-9.56-0.759-20.338-1.765-30.958c10.748,4.011,21.4,7.352,29.423,9.688c1.618,0.479,3.296,0.724,4.983,0.725c4.472,0.022,8.768-1.737,11.941-4.888c4.385-4.445,5.989-10.931,4.183-16.908c-1.945-6.665-5.382-17.82-9.717-29.456c10.625,1.007,21.406,1.539,30.967,1.764l0.433,0.009c6.098,0.049,11.759-3.159,14.85-8.417c3.125-5.423,2.987-12.131-0.358-17.421c-4.981-8.175-10.842-17.254-17.031-25.959c11.386-1.886,22.283-4.297,30.373-6.262c6.108-1.364,10.956-6.004,12.584-12.048c1.629-6.043-0.23-12.491-4.826-16.74c-4.996-4.798-13.538-12.748-23.165-20.711c9.71-4.434,19.312-9.36,27.698-13.943C508.527,268.004,512,262.261,512,256C512,249.74,508.527,243.996,502.983,241.087L502.983,241.087z M486.658,194.096c-9.414,9.008-19.277,17.536-29.55,25.551c-5.876-2.215-11.918-3.96-18.071-5.217c-1.067-4.698-2.264-9.347-3.676-13.905c4.711-4.198,9.082-8.763,13.072-13.652C463.298,188.831,478.505,192.236,486.658,194.096zM381.048,371.756c-2.971,3.208-6.051,6.289-9.24,9.244c-17.465,16.225-38.136,28.61-60.681,36.356c-3.219,1.099-6.344,2.039-9.444,2.917c-1.848,0.515-3.711,0.986-5.583,1.44c-2.558,0.629-5.122,1.285-7.657,1.773c-21.421,4.242-43.465,4.242-64.885,0c-2.535-0.489-5.099-1.145-7.657-1.773c-1.872-0.454-3.735-0.925-5.583-1.44c-3.1-0.878-6.225-1.817-9.444-2.917c-22.545-7.746-43.216-20.13-60.681-36.356c-3.19-2.957-6.27-6.039-9.239-9.244c-16.187-17.438-28.547-38.07-36.285-60.57c-1.105-3.213-2.044-6.342-2.926-9.452c-0.524-1.877-1.001-3.77-1.461-5.671c-0.625-2.547-1.279-5.096-1.766-7.63c-4.239-21.414-4.239-43.451,0-64.865c0.492-2.55,1.152-5.131,1.786-7.709c0.448-1.847,0.912-3.685,1.42-5.508c0.877-3.102,1.817-6.232,2.918-9.456c7.738-22.53,20.109-43.19,36.315-60.65c2.971-3.208,6.051-6.289,9.24-9.244c17.465-16.225,38.136-28.61,60.681-36.356c3.219-1.1,6.344-2.039,9.444-2.917c1.848-0.515,3.711-0.986,5.583-1.44c2.558-0.629,5.122-1.285,7.657-1.773c21.421-4.242,43.465-4.242,64.885,0c2.535,0.489,5.099,1.145,7.657,1.773c1.872,0.454,3.735,0.925,5.583,1.44c3.1,0.878,6.225,1.817,9.444,2.917c22.545,7.746,43.216,20.13,60.681,36.356c3.19,2.957,6.269,6.039,9.24,9.244c16.207,17.459,28.578,38.12,36.316,60.65c1.101,3.224,2.041,6.354,2.918,9.456c0.507,1.823,0.972,3.661,1.42,5.508c0.634,2.578,1.295,5.16,1.786,7.709c4.239,21.414,4.239,43.451,0,64.865c-0.488,2.534-1.142,5.083-1.766,7.63c-0.461,1.901-0.937,3.795-1.461,5.671c-0.882,3.11-1.821,6.239-2.926,9.452C409.595,333.686,397.235,354.317,381.048,371.756z M462.783,136.542c-9.639,16.632-20.961,32.231-33.787,46.55c-6.106-14.401-13.987-27.983-23.46-40.43C424.361,138.686,443.543,136.636,462.783,136.542L462.783,136.542z M424.792,87.129c-3.599,12.468-7.836,24.743-12.694,36.777c-6.285,1.015-12.478,2.533-18.521,4.539c-3.214-3.466-6.556-6.807-10.024-10.024c2.012-6.056,3.533-12.264,4.549-18.563C402.048,94.135,416.844,89.536,424.792,87.129L424.792,87.129z M375.342,49.162c-0.023,19.256-2.037,38.457-6.008,57.299c-12.447-9.473-26.028-17.353-40.429-23.458C343.2,70.183,358.759,58.845,375.342,49.162L375.342,49.162z M317.767,25.308c3.109,12.615,5.567,25.381,7.364,38.248c-4.894,3.991-9.462,8.365-13.663,13.081c-4.554-1.411-9.2-2.607-13.894-3.673c-1.27-6.21-3.035-12.308-5.279-18.236C301.564,42.74,312.089,31.379,317.767,25.308z M255.933,17.2c9.596,16.661,17.427,34.277,23.364,52.564c-15.468-1.997-31.129-1.997-46.598,0.001C238.623,51.493,246.408,33.879,255.933,17.2L255.933,17.2z M194.092,25.337c9.01,9.414,17.538,19.278,25.552,29.554c-2.216,5.876-3.961,11.92-5.219,18.073c-4.693,1.066-9.34,2.261-13.894,3.673c-4.199-4.713-8.766-9.086-13.657-13.077C188.834,48.702,192.232,33.493,194.092,25.337L194.092,25.337z M183.094,83.004c-14.401,6.105-27.982,13.986-40.429,23.458c-3.977-18.822-6.028-38-6.123-57.237C153.176,58.858,168.776,70.178,183.094,83.004L183.094,83.004z M87.133,87.208c12.467,3.596,24.74,7.832,36.772,12.691c1.015,6.286,2.534,12.48,4.542,18.522c-3.466,3.215-6.807,6.556-10.024,10.024c-6.059-2.01-12.269-3.531-18.571-4.547C94.156,110.016,89.547,95.186,87.133,87.208L87.133,87.208z M106.464,142.663c-9.474,12.447-17.355,26.029-23.46,40.431c-12.819-14.297-24.156-29.856-33.837-46.44C68.422,136.68,87.623,138.693,106.464,142.663L106.464,142.663z M25.317,194.233c12.613-3.113,25.379-5.572,38.247-7.366c3.99,4.891,8.362,9.458,13.075,13.657c-1.413,4.558-2.609,9.207-3.676,13.905c-6.209,1.27-12.306,3.034-18.233,5.277C42.756,210.445,31.386,199.918,25.317,194.233z M69.764,232.703c-1.997,15.468-1.997,31.128,0,46.596c-18.272-5.923-35.886-13.709-52.565-23.236C33.861,246.468,51.478,238.639,69.764,232.703zM25.342,317.904c9.414-9.008,19.276-17.535,29.549-25.549c5.876,2.216,11.919,3.96,18.072,5.216c1.067,4.696,2.263,9.343,3.675,13.899c-4.711,4.2-9.082,8.767-13.071,13.658C48.701,323.169,33.494,319.764,25.342,317.904zM49.217,375.458c9.639-16.633,20.961-32.232,33.787-46.552c6.106,14.402,13.987,27.984,23.46,40.432C87.639,373.313,68.457,375.364,49.217,375.458L49.217,375.458z M87.208,424.871c3.599-12.468,7.836-24.744,12.694-36.778c6.285-1.015,12.478-2.533,18.521-4.538c3.215,3.466,6.556,6.807,10.024,10.024c-2.012,6.056-3.533,12.264-4.549,18.564C109.952,417.865,95.156,422.464,87.208,424.871L87.208,424.871z M136.658,462.837c0.023-19.256,2.037-38.457,6.008-57.299c12.447,9.473,26.028,17.353,40.429,23.458C168.8,441.817,153.241,453.155,136.658,462.837L136.658,462.837z M194.233,486.691c-3.11-12.606-5.581-25.361-7.404-38.216c4.907-4.001,9.489-8.386,13.702-13.113c4.554,1.411,9.2,2.607,13.894,3.673c1.27,6.21,3.035,12.308,5.279,18.236C210.435,469.259,199.91,480.621,194.233,486.691L194.233,486.691z M256.066,494.8c-9.596-16.661-17.427-34.277-23.364-52.564c15.468,1.997,31.129,1.997,46.598-0.001C273.377,460.506,265.591,478.121,256.066,494.8L256.066,494.8z M317.908,486.662c-9.01-9.414-17.538-19.278-25.552-29.554c2.216-5.876,3.961-11.92,5.219-18.073c4.693-1.066,9.34-2.261,13.894-3.673c4.2,4.713,8.766,9.085,13.657,13.076C323.166,463.297,319.768,478.507,317.908,486.662L317.908,486.662z M328.906,428.996c14.401-6.105,27.982-13.986,40.429-23.458c3.977,18.822,6.028,38,6.123,57.238C358.823,453.142,343.224,441.823,328.906,428.996L328.906,428.996z M424.866,424.792c-12.466-3.597-24.74-7.833-36.771-12.691c-1.016-6.286-2.535-12.479-4.543-18.522c3.466-3.215,6.807-6.556,10.024-10.024c6.059,2.01,12.269,3.531,18.571,4.547C417.844,401.984,422.453,416.814,424.866,424.792L424.866,424.792z M405.535,369.337c9.475-12.447,17.356-26.03,23.461-40.432c12.819,14.298,24.155,29.858,33.836,46.441C443.578,375.32,424.377,373.307,405.535,369.337L405.535,369.337z M486.683,317.767c-12.613,3.113-25.379,5.571-38.246,7.365c-3.99-4.893-8.363-9.461-13.075-13.663c1.413-4.556,2.608-9.203,3.675-13.899c6.209-1.269,12.307-3.034,18.234-5.276C469.245,301.556,480.613,312.082,486.683,317.767L486.683,317.767z M442.235,279.297c1.997-15.467,1.997-31.127,0-46.594c18.245,5.922,35.822,13.73,52.448,23.297C478.057,265.567,460.48,273.375,442.235,279.297z"></path><path d="M256,102.4c-84.831,0-153.6,68.769-153.6,153.6S171.169,409.6,256,409.6S409.6,340.831,409.6,256C409.503,171.209,340.791,102.497,256,102.4z M256,392.533c-75.405,0-136.533-61.128-136.533-136.533S180.595,119.466,256,119.466S392.533,180.595,392.533,256C392.447,331.369,331.369,392.447,256,392.533z"></path>	</g></g></g> }
                            else if ((id == "node1checknode") || (id.Split("_")[0] == "node1checknode"))
                            {
                                <input type="button" style="pointer-events: none;" value="Button1" />
                            }
                            else if (id == "node3checknode" || id.Split("_")[0] == "node3checknode")
                            {
                                <input type="button" style="pointer-events: none;" value="Button2" /> }
                            else if (id == "node2checknode" || id.Split("_")[0] == "node2checknode")
                            {
                                <input type="button" style="pointer-events: none;" value="Button2" />
                            }
                        }
                    </NodeTemplate>
                </DiagramTemplates>
                <ContextMenuSettings @bind-Show="@show"></ContextMenuSettings>
                <DataSourceSettings  ></DataSourceSettings>
                <CommandManager @bind-Commands="@commands" Execute="@ExecuteCommand" CanExecute="@CanExecute" />
                <Layout @bind-HorizontalSpacing="@HorizontalSpacing" @bind-VerticalSpacing="@VerticalSpacing" @bind-HorizontalAlignment="@HorizontalAlignment" @bind-VerticalAlignment="@VerticalAlignment" GetBranch="@getbranch" GetLayoutInfo="@getlayoutinfo"></Layout>
        </SfDiagramComponent>
    </div>
</div>

@code {
    internal DiagramMain Parent;
    public SpinnerComponent DiagramSpinnerObj { get; set; }

    public ObservableCollection<Node> NodesCollection = new ObservableCollection<Node>();
    public ObservableCollection<Connector> ConnectorCollection = new ObservableCollection<Connector>();

    public SfDiagramComponent Diagram;
    public DiagramObjectCollection<Node> nodes { get; set; } = new DiagramObjectCollection<Node>();
    public DiagramObjectCollection<Connector> connectors  {get;set;}= new DiagramObjectCollection<Connector>();
    public Syncfusion.Blazor.Diagram.DiagramSelectionSettings SelectedModel { get; set; }
    HorizontalGridLines HGridline;
    VerticalGridLines VGridline;
    public string DiagramContainerClassName = "db-current-diagram-container";
    public IDiagramObject DiagramDrawingObject;
    public DiagramInteractions DiagramTool = DiagramInteractions.Default;
    public ScrollLimitMode scrollLimit { get; set; } = ScrollLimitMode.Infinity;
    public double CurrentZoom { get; set; } = 1;
    public double minZoom { get; set; } = 0.25;
    public double maxZoom { get; set; } = 30;
    public bool DiagramShowPageBreaks;
    public PageOrientation DiagramOrientation = PageOrientation.Landscape;
    public double? DiagramPageWidth = 816;
    public double? DiagramPageHeight = 1056;
    public string DiagramWidth = "100%";
    public string DiagramHeight = "100%";
    double marginLeft = 5;
    double marginRight = 5;
    public string Hlinecolor { get; set; } = "#EEEEEE";
    public bool IsMultiplePage = true;
    public bool IsUndo = false;
    public bool IsRedo = false;
    public string DiagramBgColor = "white";
    public double i { get; set; } = 0;
    public SnapConstraints SnapConstraint = SnapConstraints.All & ~SnapConstraints.SnapToLines;
    public double[] SnapIntervals { get; set; } = new double[] { 1, 9, 0.25, 9.75, 0.25, 9.75, 0.25, 9.75, 0.25, 9.75, 0.25, 9.75, 0.25, 9.75, 0.25, 9.75, 0.25, 9.75, 0.25, 9.75 };
    public bool DynamicGrid = false;
    int VerticalSpacing = 50;
    int HorizontalSpacing = 100;
    public HorizontalAlignment HorizontalAlignment = HorizontalAlignment.Auto;
    public VerticalAlignment VerticalAlignment = VerticalAlignment.Auto;
    public bool show = true;
    public bool diagramSelected = false;
    DiagramObjectCollection<KeyboardCommand> commands = new DiagramObjectCollection<KeyboardCommand>();

    public class NodeAddInfo
    {
        public string Level;
        public string Orientation;
    }

    List<PageOptionElement> PageList = new List<PageOptionElement>();
    PageOptionElement ActivePage;

    protected override void OnInitialized()
    {
        InitDiagramModel();
        commands = new DiagramObjectCollection<KeyboardCommand>()
        {

            new KeyboardCommand() { Name = "fileNew", Gesture = new KeyGesture(){ Key = DiagramKeys.N, Modifiers = ModifierKeys.Shift } },
              new KeyboardCommand() { Name = "copy", Gesture = new KeyGesture(){ Key = DiagramKeys.C, Modifiers = ModifierKeys.Control } },
            new KeyboardCommand() { Name = "fileOpen", Gesture = new KeyGesture(){ Key = DiagramKeys.O, Modifiers = ModifierKeys.Control } },
            new KeyboardCommand() { Name = "fileSave", Gesture = new KeyGesture(){ Key = DiagramKeys.S, Modifiers = ModifierKeys.Control } },
            new KeyboardCommand() { Name = "duplicate", Gesture = new KeyGesture(){ Key = DiagramKeys.D, Modifiers = ModifierKeys.Control } },
            new KeyboardCommand() { Name = "group", Gesture = new KeyGesture(){ Key = DiagramKeys.G, Modifiers = ModifierKeys.Control } },
            new KeyboardCommand() { Name = "unGroup", Gesture = new KeyGesture(){ Key = DiagramKeys.U, Modifiers = ModifierKeys.Control } },
            new KeyboardCommand() { Name = "sendToBack", Gesture = new KeyGesture(){ Key = DiagramKeys.B, Modifiers = ModifierKeys.Control | ModifierKeys.Shift } },
            new KeyboardCommand() { Name = "bringToFront", Gesture = new KeyGesture(){ Key = DiagramKeys.F, Modifiers = ModifierKeys.Control | ModifierKeys.Shift } },
        };
        PageOptionElement pageOption = new PageOptionElement()
        {
            Diagram = "",
            Name = "Page1",
            PageSwitch = true
        };
        PageList.Add(pageOption);
        ActivePage = pageOption;
    }
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        Service.Notify += OnNotify;
    }
    public async Task OnNotify(NotifyProperties prop)
    {
        await InvokeAsync(() =>
        {
            this.DiagramSpinnerObj.Hide();
            this.Service.Prop.HideSpinner = false;
            this.Service.Prop.RestricMouseEvents = false;
        });
    }
    private bool isRender = true;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (this.DiagramSpinnerObj.HideClass == "sb-trans")
        {
            this.DiagramSpinnerObj.Hide();
            this.Service.Prop.HideSpinner = false;
            this.Service.Prop.RestricMouseEvents = false;
        }
    }
    public class EditUserHandlePropertyPanel
    {
        public string PropertyName { get; set; }
        public string PropertyValue { get; set; }
        public bool IsChecked { get; set; }
    }
    public List<string> annotationDetails = new List<string> { };
    private async Task NodeDefaults(IDiagramObject obj)
    {
        Node node = obj as Node;
        node.Ports = new DiagramObjectCollection<PointPort>()
        {
            new PointPort()
            {
                  ID = "left",
                  Shape = PortShapes.Square,
                  Width = 10,
                  Height = 10,
                  Visibility = (Parent.MindMapPropertyPanel.IsMindMap || Parent.OrgChartPropertyPanel.IsOrgChart) ? PortVisibility.Hidden : PortVisibility.Connect | PortVisibility.Hover,
                  Constraints =(Parent.MindMapPropertyPanel.IsMindMap || Parent.OrgChartPropertyPanel.IsOrgChart) ? PortConstraints.Default : PortConstraints.Default|PortConstraints.Draw,
                  Offset = new DiagramPoint() { X = 0, Y = 0.5 },
            },
            new PointPort()
            {
                ID = "top",
                Shape = PortShapes.Square,
                Width = 10,
                Height = 10,
                Visibility = (Parent.MindMapPropertyPanel.IsMindMap || Parent.OrgChartPropertyPanel.IsOrgChart) ? PortVisibility.Hidden : PortVisibility.Connect | PortVisibility.Hover,
                Constraints = (Parent.MindMapPropertyPanel.IsMindMap|| Parent.OrgChartPropertyPanel.IsOrgChart) ? PortConstraints.Default : PortConstraints.Default|PortConstraints.Draw,
                Offset = new DiagramPoint() { X = 0.5, Y = 0 },
            },
            new PointPort()
            {
                  ID = "bottom",
                  Shape = PortShapes.Square,
                  Width = 10,
                  Height = 10,
                  Visibility = (Parent.MindMapPropertyPanel.IsMindMap || Parent.OrgChartPropertyPanel.IsOrgChart) ? PortVisibility.Hidden : PortVisibility.Connect | PortVisibility.Hover,
                  Constraints = (Parent.MindMapPropertyPanel.IsMindMap || Parent.OrgChartPropertyPanel.IsOrgChart) ? PortConstraints.Default : PortConstraints.Default|PortConstraints.Draw,
                  Offset = new DiagramPoint() { X = 0.5, Y = 1 },
            },
            new PointPort()
            {
                  ID = "right",
                  Shape = PortShapes.Square,
                  Width = 10,
                  Height = 10,
                  Visibility = (Parent.MindMapPropertyPanel.IsMindMap || Parent.OrgChartPropertyPanel.IsOrgChart) ? PortVisibility.Hidden : PortVisibility.Connect | PortVisibility.Hover,
                  Constraints = (Parent.MindMapPropertyPanel.IsMindMap || Parent.OrgChartPropertyPanel.IsOrgChart) ? PortConstraints.Default : PortConstraints.Default|PortConstraints.Draw,
                  Offset = new DiagramPoint() { X = 1, Y = 0.5 },
            },
        };

        if(Parent.MindMapPropertyPanel.IsMindMap)
        {
            node.Constraints |= NodeConstraints.AllowDrop;
        }
        string width = "width: 100%;";
        if (Parent.OrgChartPropertyPanel.IsOrgChart && node.AdditionalInfo != null && node.AdditionalInfo.Count > 0 && this.Parent.OrgChartPropertyPanel.isCopy)
        {
            var info=node.AdditionalInfo;
            foreach (KeyValuePair<string, object> keyValuePair in node.AdditionalInfo)
            {
                var nodeID = keyValuePair.Key;
                if (this.Parent.OrgChartPropertyPanel.OriginalTextBoxValuesDictionary.ContainsKey(node.ID) && this.Parent.OrgChartPropertyPanel.OriginalCheckBoxValuesDictionary.ContainsKey(node.ID) && this.Parent.OrgChartPropertyPanel.TextBoxDictionary.ContainsKey(node.ID) && this.Parent.OrgChartPropertyPanel.CheckBoxDictionary.ContainsKey(node.ID))
                {

                }
                else
                {
                    var textBox = this.Parent.OrgChartPropertyPanel.OriginalTextBoxValuesDictionary[nodeID];
                    List<string> deleteInformations = new List<string>();
                    foreach(KeyValuePair<string,string> propertyNames in textBox)
                    {
                        deleteInformations.Add(propertyNames.Key);
                    }
                    Parent.OrgChartPropertyPanel.Deletedictionary.Add(node.ID, deleteInformations);
                    var checkBox = this.Parent.OrgChartPropertyPanel.OriginalCheckBoxValuesDictionary[nodeID];
                    this.Parent.OrgChartPropertyPanel.OriginalTextBoxValuesDictionary[node.ID] = (textBox);
                    this.Parent.OrgChartPropertyPanel.OriginalCheckBoxValuesDictionary[node.ID] = checkBox;
                    this.Parent.OrgChartPropertyPanel.TextBoxDictionary[node.ID] = textBox;
                    this.Parent.OrgChartPropertyPanel.CheckBoxDictionary[node.ID] = checkBox;
                }
                Node newNode = this.Diagram.GetObject(nodeID) as Node;
                newNode.AdditionalInfo.Clear();
            }
            
            
        }
        if (Parent.OrgChartPropertyPanel.IsOrgChart &&node.AdditionalInfo!=null &&node.AdditionalInfo.Count > 0 && !Parent.OrgChartPropertyPanel.isCopy)
        {
            string tooltip = "";
            Parent.OrgChartPropertyPanel.TextBoxDictionary.Remove(node.ID);
            Parent.OrgChartPropertyPanel.CheckBoxDictionary.Remove(node.ID);
            Parent.OrgChartPropertyPanel.OriginalTextBoxValuesDictionary.Remove(node.ID);
            Parent.OrgChartPropertyPanel.OriginalCheckBoxValuesDictionary.Remove(node.ID);
            Dictionary<string, bool> dictionary = new Dictionary<string, bool>();
            Dictionary<string, bool> checkBoxValues = new Dictionary<string, bool>();
            Dictionary<string, string> textboxValues = new Dictionary<string, string>();
            foreach (KeyValuePair<string, object> keyValuePair in node.AdditionalInfo)
            {
                if (keyValuePair.Value != null)
                {
                    var additionalInfo = keyValuePair.Value.ToString();
                    dictionary = JsonConvert.DeserializeObject<Dictionary<string, bool>>(additionalInfo);

                    foreach (KeyValuePair<string, bool> textcheckbox in dictionary)
                    {

                        textboxValues.Add(keyValuePair.Key, textcheckbox.Key);

                        checkBoxValues.Add(keyValuePair.Key, textcheckbox.Value);

                        if (node.Data == null && textcheckbox.Value)
                        {
                            tooltip += "<tr><td>" + keyValuePair.Key + "</td><td>:</td><td>" + textcheckbox.Key + "</td></tr><tr>";
                        }

                    }
                }
                node.AdditionalInfo.Clear();
            }
            if (Parent.OrgChartPropertyPanel.TextBoxDictionary.ContainsKey(node.ID) && Parent.OrgChartPropertyPanel.CheckBoxDictionary.ContainsKey(node.ID) && Parent.OrgChartPropertyPanel.OriginalTextBoxValuesDictionary.ContainsKey(node.ID) && Parent.OrgChartPropertyPanel.OriginalCheckBoxValuesDictionary.ContainsKey(node.ID))
            {
                Parent.OrgChartPropertyPanel.TextBoxDictionary[node.ID] = textboxValues;
                Parent.OrgChartPropertyPanel.CheckBoxDictionary[node.ID] = checkBoxValues;
                Parent.OrgChartPropertyPanel.OriginalTextBoxValuesDictionary[node.ID] = textboxValues;
                Parent.OrgChartPropertyPanel.OriginalCheckBoxValuesDictionary[node.ID] = checkBoxValues;
            }
            else
            {
                Parent.OrgChartPropertyPanel.TextBoxDictionary.Add(node.ID, textboxValues);
                Parent.OrgChartPropertyPanel.CheckBoxDictionary.Add(node.ID, checkBoxValues);
                Parent.OrgChartPropertyPanel.OriginalTextBoxValuesDictionary.Add(node.ID, textboxValues);
                Parent.OrgChartPropertyPanel.OriginalCheckBoxValuesDictionary.Add(node.ID, checkBoxValues);
                this.Parent.OrgChartPropertyPanel.applyDictionary.Add(node.ID, true);
                Parent.OrgChartPropertyPanel.isAdditionalInfo = true;

            }
            if (node.Data != null)
            {
                string nodeData = node.Data.ToString();
                OrgChartDetails orgChartDetails = System.Text.Json.JsonSerializer.Deserialize<OrgChartDetails>(nodeData);
                node.Data = orgChartDetails;
                var data = node.Data as OrgChartDetails;
                node.Tooltip = new DiagramTooltip() { Template = "<table" + " style=" + width + "><tr><td>Name</td><td>:</td><td>" + data.Name + "</td></tr><tr><td>Role</td><td>:</td><td>" + data.Role + "</td></tr><tr><td>Email</td><td>:</td><td>" + data.Email + "</td></tr><tr><td>Department</td><td>:</td><td>" + data.Department + "</td></tr><tr><td>EmployeeID</td><td>:</td><td>" + data.EmployeeID + "</td></tr><tr><td>SupervisorID</td><td>:</td><td>" + data.SupervisorID + "</td></tr><tr><td>SupervisorName</td><td>:</td><td>" + data.SupervisorName + "</td></tr><tr><td>Location</td><td>:</td><td>" + data.Location + "</td></tr><tr><td>Phone</td><td>:</td><td>" + data.Phone + "</td></tr><tr><td>ImageURL</td><td>:</td><td>" + data.ImageURL + "</td></tr></table>", Position = Syncfusion.Blazor.Popups.Position.BottomCenter };
            }
            else
            {
                node.Tooltip = new DiagramTooltip() { Template = "<table" + " style=" + width + ">" + tooltip + "</table>", Position = Syncfusion.Blazor.Popups.Position.BottomCenter };
            }

        }
        if (Parent.OrgChartPropertyPanel.IsOrgChart && node.Data == null&&node.AdditionalInfo!=null && node.AdditionalInfo.Count==0)
        {

            if (Parent.OrgChartPropertyPanel.TextBoxDictionary.ContainsKey(node.ID) && Parent.OrgChartPropertyPanel.CheckBoxDictionary.ContainsKey(node.ID))
            {
            }
            else
            {
                string tooltipValue = "";
                Parent.OrgChartPropertyPanel.applyDictionary.Add(node.ID, false);
                Dictionary<string, string> textBoxValues = new Dictionary<string, string>();
                Dictionary<string, bool> checkBoxValues = new Dictionary<string, bool>();
                Dictionary<string, string> originalDictionaryTextBoxValues = new Dictionary<string, string>();
                Dictionary<string, bool> originalDictionaryCheckBoxValues = new Dictionary<string, bool>();
                List<string> deleteInformation = new List<string>();
                EditUserHandlePropertyPanel editUserHandlePropertyPanelDetails = new EditUserHandlePropertyPanel();
                editUserHandlePropertyPanelDetails.PropertyName = "Name";
                editUserHandlePropertyPanelDetails.PropertyValue = "Name";
                editUserHandlePropertyPanelDetails.IsChecked = true;

                tooltipValue += "<tr><td>" + editUserHandlePropertyPanelDetails.PropertyName + "</td><td>:</td><td>" + editUserHandlePropertyPanelDetails.PropertyValue + "</td></tr><tr>";
                deleteInformation.Add(editUserHandlePropertyPanelDetails.PropertyName);
                textBoxValues.Add(editUserHandlePropertyPanelDetails.PropertyName, editUserHandlePropertyPanelDetails.PropertyValue);
                checkBoxValues.Add(editUserHandlePropertyPanelDetails.PropertyName, editUserHandlePropertyPanelDetails.IsChecked);
                originalDictionaryTextBoxValues.Add(editUserHandlePropertyPanelDetails.PropertyName, editUserHandlePropertyPanelDetails.PropertyValue);
                originalDictionaryCheckBoxValues.Add(editUserHandlePropertyPanelDetails.PropertyName, editUserHandlePropertyPanelDetails.IsChecked);
                if ((Parent.OrgChartPropertyPanel.templatevalue == "None" && Parent.OrgChartPropertyPanel.orgChartStyle == "Style2") || (Parent.OrgChartPropertyPanel.templatevalue == "None" && Parent.OrgChartPropertyPanel.orgChartStyle == "Style3"))
                {
                    editUserHandlePropertyPanelDetails.PropertyName = "Role";
                    editUserHandlePropertyPanelDetails.PropertyValue = "Role";
                    editUserHandlePropertyPanelDetails.IsChecked = true;
                    tooltipValue += "<tr><td>" + editUserHandlePropertyPanelDetails.PropertyName + "</td><td>:</td><td>" + editUserHandlePropertyPanelDetails.PropertyValue + "</td></tr><tr>";
                    deleteInformation.Add(editUserHandlePropertyPanelDetails.PropertyName);
                    textBoxValues.Add(editUserHandlePropertyPanelDetails.PropertyName, editUserHandlePropertyPanelDetails.PropertyValue);
                    checkBoxValues.Add(editUserHandlePropertyPanelDetails.PropertyName, editUserHandlePropertyPanelDetails.IsChecked);
                    originalDictionaryTextBoxValues.Add(editUserHandlePropertyPanelDetails.PropertyName, editUserHandlePropertyPanelDetails.PropertyValue);
                    originalDictionaryCheckBoxValues.Add(editUserHandlePropertyPanelDetails.PropertyName, editUserHandlePropertyPanelDetails.IsChecked);
                }


                editUserHandlePropertyPanelDetails.PropertyName = "Version";
                editUserHandlePropertyPanelDetails.PropertyValue = "";
                editUserHandlePropertyPanelDetails.IsChecked = false;
                deleteInformation.Add(editUserHandlePropertyPanelDetails.PropertyName);
                textBoxValues.Add(editUserHandlePropertyPanelDetails.PropertyName, editUserHandlePropertyPanelDetails.PropertyValue);
                checkBoxValues.Add(editUserHandlePropertyPanelDetails.PropertyName, editUserHandlePropertyPanelDetails.IsChecked);
                originalDictionaryTextBoxValues.Add(editUserHandlePropertyPanelDetails.PropertyName, editUserHandlePropertyPanelDetails.PropertyValue);
                originalDictionaryCheckBoxValues.Add(editUserHandlePropertyPanelDetails.PropertyName, editUserHandlePropertyPanelDetails.IsChecked);
                if (node.Shape is ImageShape)
                {
                    editUserHandlePropertyPanelDetails.PropertyName = "ImageURL";
                    editUserHandlePropertyPanelDetails.PropertyValue = (node.Shape as ImageShape).Source;
                    editUserHandlePropertyPanelDetails.IsChecked = true;
                    tooltipValue += "<tr><td>" + editUserHandlePropertyPanelDetails.PropertyName + "</td><td>:</td><td>" + editUserHandlePropertyPanelDetails.PropertyValue + "</td></tr><tr>";
                    textBoxValues.Add(editUserHandlePropertyPanelDetails.PropertyName, editUserHandlePropertyPanelDetails.PropertyValue);
                    checkBoxValues.Add(editUserHandlePropertyPanelDetails.PropertyName, editUserHandlePropertyPanelDetails.IsChecked);
                    originalDictionaryTextBoxValues.Add(editUserHandlePropertyPanelDetails.PropertyName, editUserHandlePropertyPanelDetails.PropertyValue);
                    originalDictionaryCheckBoxValues.Add(editUserHandlePropertyPanelDetails.PropertyName, editUserHandlePropertyPanelDetails.IsChecked);
                }
                Parent.OrgChartPropertyPanel.TextBoxDictionary.Add(node.ID, textBoxValues);
                Parent.OrgChartPropertyPanel.CheckBoxDictionary.Add(node.ID, checkBoxValues);
                Parent.OrgChartPropertyPanel.OriginalTextBoxValuesDictionary.Add(node.ID, originalDictionaryTextBoxValues);
                Parent.OrgChartPropertyPanel.OriginalCheckBoxValuesDictionary.Add(node.ID, originalDictionaryCheckBoxValues);
                Parent.OrgChartPropertyPanel.Deletedictionary.Add(node.ID, deleteInformation);
                node.Tooltip = new DiagramTooltip() { Template = "<table" + " style=" + width + ">" + tooltipValue + "</table>", Position = Syncfusion.Blazor.Popups.Position.BottomCenter };


            }

        }
        if (Parent.OrgChartPropertyPanel.IsOrgChart && Parent.OrgChartPropertyPanel.isLayout&&node.Data!=null&&node.AdditionalInfo!=null&&node.AdditionalInfo.Count==0)
        {
            annotationDetails = new List<string>();
            var data = node.Data as OrgChartDetails;

            if (data != null && this.Parent.OrgChartPropertyPanel.templatevalue != "template1" && this.Parent.OrgChartPropertyPanel.templatevalue != "template2" && Parent.OrgChartPropertyPanel.isUploader)
            {
                node.Shape = new ImageShape { Type = NodeShapes.Image, Source = data.ImageURL, ImageAlign = ImageAlignment.XMinYMin, Scale = DiagramScale.None };
            }
            foreach (KeyValuePair<string, bool> keyValues in Parent.OrgChartPropertyPanel.DataSourceDictionary)
            {
                if (keyValues.Value)
                {
                    UpdateAnnotation(node, keyValues.Key);
                }

            }
            var annotations = new DiagramObjectCollection<ShapeAnnotation>();
            for (var i = 0; i < annotationDetails.Count; i++)
            {
                var content = annotationDetails[i];
                var annotation1 = new ShapeAnnotation() {  Content = content != null ? content.ToString() : "" };
                annotation1.Style = new TextStyle() { FontSize = 10};
                await annotations.AddAsync(annotation1);
            }
            if (annotations.Count > 0)
            {
                node.Annotations = annotations;
            }
            for (int s = 0; s < node.Annotations.Count; s++)
            {
                if (s == 0)
                {
                    node.Annotations[s].Style = new TextStyle() { Color = "black", FontSize = 10, Bold = true };
                }
                else
                {
                    node.Annotations[s].Style = new TextStyle() { Color = "black", FontSize = 8, Bold = false };

                }
            }
            node.Tooltip = new DiagramTooltip() { Template = "<table" + " style=" + width + "><tr><td>Name</td><td>:</td><td>" + data.Name + "</td></tr><tr><td>Role</td><td>:</td><td>" + data.Role + "</td></tr><tr><td>Email</td><td>:</td><td>" + data.Email + "</td></tr><tr><td>Department</td><td>:</td><td>" + data.Department + "</td></tr><tr><td>EmployeeID</td><td>:</td><td>" + data.EmployeeID + "</td></tr><tr><td>SupervisorID</td><td>:</td><td>" + data.SupervisorID + "</td></tr><tr><td>SupervisorName</td><td>:</td><td>" + data.SupervisorName + "</td></tr><tr><td>Location</td><td>:</td><td>" + data.Location + "</td></tr><tr><td>Phone</td><td>:</td><td>" + data.Phone + "</td></tr><tr><td>ImageURL</td><td>:</td><td>" + data.ImageURL + "</td></tr></table>", Position = Syncfusion.Blazor.Popups.Position.BottomCenter };

            Dictionary<string, object> properties = new Dictionary<string, object>();
            Dictionary<string, string> textBoxValues = new Dictionary<string, string>();
            Dictionary<string, bool> checkBoxValues = new Dictionary<string, bool>();
            EditUserHandlePropertyPanel editUserHandlePropertyPanelDetails = new EditUserHandlePropertyPanel();
            foreach(KeyValuePair<string,bool> keyValue in Parent.OrgChartPropertyPanel.DataSourceDictionary)
            {
                editUserHandlePropertyPanelDetails.PropertyName = keyValue.Key;
                editUserHandlePropertyPanelDetails.IsChecked = keyValue.Value;
                UpdateTextfield(node, keyValue.Key, textBoxValues);
                checkBoxValues.Add(editUserHandlePropertyPanelDetails.PropertyName, editUserHandlePropertyPanelDetails.IsChecked);
            }
            if (Parent.OrgChartPropertyPanel.TextBoxDictionary.ContainsKey(node.ID) && Parent.OrgChartPropertyPanel.OriginalCheckBoxValuesDictionary.ContainsKey(node.ID) && Parent.OrgChartPropertyPanel.CheckBoxDictionary.ContainsKey(node.ID) && Parent.OrgChartPropertyPanel.OriginalCheckBoxValuesDictionary.ContainsKey(node.ID))
            {
                Parent.OrgChartPropertyPanel.TextBoxDictionary[node.ID]=(textBoxValues);
                Parent.OrgChartPropertyPanel.CheckBoxDictionary[node.ID]=(checkBoxValues);
                Parent.OrgChartPropertyPanel.OriginalTextBoxValuesDictionary[node.ID]=(textBoxValues);
                Parent.OrgChartPropertyPanel.OriginalCheckBoxValuesDictionary[node.ID]=(checkBoxValues);
            }
            else
            {
                Parent.OrgChartPropertyPanel.TextBoxDictionary.Add(node.ID, textBoxValues);
                Parent.OrgChartPropertyPanel.CheckBoxDictionary.Add(node.ID, checkBoxValues);
                Parent.OrgChartPropertyPanel.OriginalTextBoxValuesDictionary.Add(node.ID, textBoxValues);
                Parent.OrgChartPropertyPanel.OriginalCheckBoxValuesDictionary.Add(node.ID, checkBoxValues);
            }
            Parent.OrgChartPropertyPanel.UpdateAnnotationPosition(node);
            node.Style.Fill = "#88C65C";
            node.Style.StrokeColor = "#88C65C";
        }
        if (Parent.OrgChartPropertyPanel.IsOrgChart)
        {
            foreach(ShapeAnnotation annotation in node.Annotations)
            {
                annotation.Constraints = AnnotationConstraints.ReadOnly;
            }
            node.Constraints = NodeConstraints.Default | NodeConstraints.Tooltip;
            node.AdditionalInfo.Clear();



        }
    }
    public void UpdateTextfield(Node node, string key,Dictionary<string, string> properties)
    {
        var data = node.Data as OrgChartDetails;
        switch (key)
        {
            case "Name":
                properties.Add("Name", data.Name);
                break;
            case "EmployeeID":
                properties.Add("EmployeeID", data.EmployeeID);
                break;
            case "Email":
                properties.Add("Email", data.Email);
                break;
            case "ImageURL":
                properties.Add("ImageURL", data.ImageURL);
                break;
            case "Location":
                properties.Add("Location", data.Location);
                break;
            case "Phone":
                properties.Add("Phone", data.Phone);
                break;

            case "SupervisorName":
                properties.Add("SupervisorName", data.SupervisorName);
                break;
            case "SupervisorID":
                properties.Add("SupervisorID", data.SupervisorID);
                break;
            case "Role":
                properties.Add("Role", data.Role);
                break;
            case "Department":
                properties.Add("Department", data.Department);
                break;


        }
    }
    public void UpdateAnnotation(Node node, string key)
    {
        var data = node.Data as OrgChartDetails;
        switch (key)
        {
            case "Name":
                annotationDetails.Add(data.Name);
                break;
            case "EmployeeID":
                annotationDetails.Add(data.EmployeeID);
                break;
            case "Email":
                annotationDetails.Add(data.Email);
                break;
            case "ImageURL":
                annotationDetails.Add(data.ImageURL);
                break;
            case "Location":
                annotationDetails.Add(data.Location);
                break;
            case "Phone":
                annotationDetails.Add(data.Phone);
                break;

            case "SupervisorName":
                annotationDetails.Add(data.SupervisorName);
                break;
            case "SupervisorID":
                annotationDetails.Add(data.SupervisorID);
                break;
            case "Role":
                annotationDetails.Add(data.Role);
                break;
            case "Department":
                annotationDetails.Add(data.Department);
                break;


        }
    }
    private void ConnectorDefaults(IDiagramObject obj)
    {
        Connector connector = obj as Connector;
        if (Parent.MindMapPropertyPanel.IsMindMap)
            connector.Constraints = ConnectorConstraints.Default & ~ConnectorConstraints.Select;
    }

    public async Task CreditProcessDiagram()
    {
        nodes.Clear();
        connectors.Clear();
        Diagram.ClearSelection();
        Parent.MenuBar.CreditCardProcessing();
        await Diagram.AddDiagramElements(flowNodes);
        await Diagram.AddDiagramElements(flowConnectors);
    }


    private void PositionChanged(PositionChangedEventArgs args)
    {
        Parent.DiagramPropertyPanel.UpdatePropertyPanel();
        
    }
    private void SizeChanged(SizeChangedEventArgs args)
    {
        Parent.DiagramPropertyPanel.UpdatePropertyPanel();
    }

    private void RotateChanged(RotationChangedEventArgs args)
    {
        Parent.DiagramPropertyPanel.NodeRotateAngleValue(args.NewValue.RotationAngle);
    }
    private void Drop(DropEventArgs args)
    {
        if(args.Element is Node)
        {
            Parent.DiagramPropertyPanel.slider();
        }
        else if(args.Element is Connector)
        {
            Parent.DiagramPropertyPanel.sliderConnector();
        }
        if (Parent.MindMapPropertyPanel.IsMindMap)
        {
            Parent.DiagramContent.Diagram.BeginUpdate();
            Parent.DiagramContent.Diagram.StartGroupAction();
            Parent.MindMapPropertyPanel.Drop(args);
            Parent.DiagramContent.Diagram.EndGroupAction();
            _= Parent.DiagramContent.Diagram.EndUpdate();
        }
    }

    private async Task SelectionChanged(Syncfusion.Blazor.Diagram.SelectionChangedEventArgs args)
    {
        bool hasContinuousDraw = Diagram.InteractionController.HasFlag(DiagramInteractions.ContinuousDraw);
        if ((!hasContinuousDraw) || (hasContinuousDraw && Diagram.DrawingObject != null && args.NewValue.Count > 0))
        {
            await Parent.Toolbar.EnableToolbarItems(args.NewValue, "selectionchange");
            int ObjectsLength = Diagram.SelectionSettings.Nodes.Count + Diagram.SelectionSettings.Connectors.Count;
            Parent.DiagramPropertyPanel.removeClassInElement("nodePropertyContainer", " multiple");
            Parent.DiagramPropertyPanel.removeClassInElement("nodePropertyContainer", " connector");
            if (ObjectsLength > 1 && (Diagram.SelectionSettings.Nodes.Count > 0 || (Diagram.SelectionSettings.Connectors.Count > 0)))
            {
                diagramSelected = false;
                this.MultipleSelectionSettings(args.NewValue);
            }
            else if (ObjectsLength == 1 && (Diagram.SelectionSettings.Nodes.Count == 1 || Diagram.SelectionSettings.Connectors.Count == 1))
            {
                if (DiagramContainerClassName.Contains("mindmap-diagram"))
                {
                    Parent.MindMapPropertyPanel.bindMindMapProperties();
                    if (args.NewValue[0] is Node && (args.NewValue[0] as Node).AdditionalInfo != null && (args.NewValue[0] as Node).AdditionalInfo.Count > 0)
                    {
                        string layoutType = Convert.ToString((args.NewValue[0] as Node).AdditionalInfo["Orientation"]);
                        //BranchType type = ((args.NewValue[0] as Node).Data as MindMapDetails).Branch;
                        if (layoutType == "Root")
                        {
                            Diagram.SelectionSettings.UserHandles[0].Visible = false;
                            Diagram.SelectionSettings.UserHandles[1].Visible = false;
                            Diagram.SelectionSettings.UserHandles[2].Visible = true;
                            Diagram.SelectionSettings.UserHandles[3].Visible = true;
                        }
                        else if (layoutType == "Left")
                        {
                            Diagram.SelectionSettings.UserHandles[0].Visible = false;
                            Diagram.SelectionSettings.UserHandles[1].Visible = true;
                            Diagram.SelectionSettings.UserHandles[2].Visible = true;
                            Diagram.SelectionSettings.UserHandles[3].Visible = false;
                        }
                        else if (layoutType == "Right")
                        {
                            Diagram.SelectionSettings.UserHandles[0].Visible = true;
                            Diagram.SelectionSettings.UserHandles[1].Visible = false;
                            Diagram.SelectionSettings.UserHandles[2].Visible = false;
                            Diagram.SelectionSettings.UserHandles[3].Visible = true;
                        }
                    }
                }
                else
                {
                    if (Diagram.SelectionSettings.Nodes.Count == 1)
                    {
                        Parent.DiagramPropertyPanel.PanelVisibility();
                        Parent.DiagramPropertyPanel.slider();

                    }
                    else if (Diagram.SelectionSettings.Connectors.Count == 1)
                    {
                        if (Diagram.SelectionSettings.Connectors.Count > 0)
                        {
                            Parent.DiagramPropertyPanel.PanelVisibility();
                            Parent.DiagramPropertyPanel.sliderConnector();
                        }
                    }
                }
                diagramSelected = false;
                Parent.Toolbar.SingleSelectionToolbarItems();
            }
            else
            {
                diagramSelected = true;
                Parent.DiagramPropertyPanel.PanelVisibility();
                Parent.DiagramPropertyPanel.BindDiagramProperties();
                Parent.Toolbar.DiagramSelectionToolbarItems();
            }
             //this.Diagram.Constraints|=DiagramConstraints.UndoRedo;
            StateHasChanged();
        }
    }
    private async Task HistoryChange(HistoryChangedEventArgs args)
    {
        await Parent.Toolbar.EnableToolbarItems(new object() { }, "historychange");
    }
    private void ScrollChanged(ScrollChangedEventArgs args)
    {
        if((Parent.DiagramContent.CurrentZoom >= 0.25 && Parent.DiagramContent.CurrentZoom <= 30) && Parent.Toolbar.ZoomItemDropdownContent != FormattableString.Invariant($"{Math.Round(Parent.DiagramContent.CurrentZoom * 100)}") + "%")
        {
            Parent.Toolbar.DiagramZoomValueChange();
        }
    }

    private void MultipleSelectionSettings(ObservableCollection<IDiagramObject> SelectedItems)
    {
        if(!Parent.MindMapPropertyPanel.MindMapProperty)
        {
            Parent.DiagramPropertyPanel.PropertyPanelVisibility();
            bool showConnectorPanel = false; bool showNodePanel = false;
            bool showTextPanel = false; bool showConTextPanel = false;

            for (int i = 0; i < Diagram.SelectionSettings.Nodes.Count; i++)
            {
                Node Node = Diagram.SelectionSettings.Nodes[i];
                if (Node != null && (!showNodePanel || !showTextPanel))
                {
                    showNodePanel = true;
                    showTextPanel = Node.Annotations.Count > 0 && Node.Annotations[0].Content != "" ? true : false;
                }
            }
            for (int i = 0; i < Diagram.SelectionSettings.Connectors.Count; i++)
            {
                Connector Connector = Diagram.SelectionSettings.Connectors[i];
                if (Connector != null && (!showConnectorPanel || !showConTextPanel))
                {
                    showConnectorPanel = true;
                    showConTextPanel = Connector.Annotations.Count > 0 && Connector.Annotations[0].Content != "" ? true : false;
                }
            }
            if (showNodePanel)
            {

                Parent.DiagramPropertyPanel.gradientPropertyVisibility("nodePropertyContainer", true);

                Parent.DiagramPropertyPanel.addClassInElement("nodePropertyContainer", " multiple");

                if (showConnectorPanel)
                {

                    Parent.DiagramPropertyPanel.addClassInElement("nodePropertyContainer", " connector");
                }
                if (Diagram.SelectionSettings.Nodes.Count == 1)
                    Parent.DiagramPropertyPanel.SingleNodeSelection();
            }
            if (showConnectorPanel && !showNodePanel)
            {
                Parent.DiagramPropertyPanel.PanelVisibility();

                Parent.DiagramPropertyPanel.SingleConnectorSelection();
            }
            if (showTextPanel || showConTextPanel)
            {
                Parent.DiagramPropertyPanel.TextPropertyPanelVisibility();
            }
        }
        Parent.Toolbar.MutipleSelectionToolbarItems();
    }
    public void UpdateTool()
    {
        DiagramTool = DiagramInteractions.ZoomPan;
        StateHasChanged();
    }
    public void DrawingObject(Syncfusion.Blazor.SplitButtons.MenuEventArgs args)
    {
        if (args.Item.Text == "Rectangle")
        {
            DiagramDrawingObject = new Node() { Shape = new BasicShape() { Type = NodeShapes.Basic, Shape = NodeBasicShapes.Rectangle }, Style = new ShapeStyle() {  StrokeWidth = 2 } };
        }
        else if (args.Item.Text == "Ellipse")
        {
            DiagramDrawingObject = new Node() { Shape = new BasicShape() { Type = NodeShapes.Basic, Shape = NodeBasicShapes.Ellipse }, Style = new ShapeStyle() {  StrokeWidth = 2 } };
        }
        else if (args.Item.Text == "Polygon")
        {
            DiagramDrawingObject = new Node() { Shape = new BasicShape() { Type = NodeShapes.Basic, Shape = NodeBasicShapes.Polygon }, Style = new ShapeStyle() {  StrokeWidth = 2 } };
        }
        else if (args.Item.Text == "Straight Line")
        {
            Parent.DiagramContent.DiagramDrawingObject = new Connector() { Type = ConnectorSegmentType.Straight, Constraints = ConnectorConstraints.Default, Style = new ShapeStyle() {  StrokeWidth = 2 } };
        }
        else if (args.Item.Text == "Orthogonal Line")
        {
            Parent.DiagramContent.DiagramDrawingObject = new Connector() { Type = ConnectorSegmentType.Orthogonal, Constraints = ConnectorConstraints.Default, Style = new ShapeStyle() {  StrokeWidth = 2 } };
        }
        else if (args.Item.Text == "Bezier")
        {
            Parent.DiagramContent.DiagramDrawingObject = new Connector() { Type = ConnectorSegmentType.Bezier, Constraints = ConnectorConstraints.Default, Style = new ShapeStyle() {  StrokeWidth = 2 } };
        }
    }
    public void TextToolDrawingObject(Syncfusion.Blazor.Navigations.ClickEventArgs args)
    {
        if(args.Item.TooltipText == "Text Tool")
        {
            DiagramDrawingObject =  new Node() { Shape = new TextShape() { Type = NodeShapes.Text } }; 
        }
    }
    public void UpdateContinousDrawTool()
    {
        DiagramTool = DiagramInteractions.ContinuousDraw;
        StateHasChanged();
    }
    public void UpdatePointerTool()
    {
        DiagramTool = DiagramInteractions.SingleSelect | DiagramInteractions.MultipleSelect;
        StateHasChanged();
    }

    public void ZoomTo(ZoomOptions options)
    {
        double factor = options.ZoomFactor != 0 ? options.ZoomFactor : 0.2;
        factor = options.Type == "ZoomOut" ? 1 / (1 + factor) : (1 + factor);
        Diagram.Zoom(factor, null);
    }

    public class ZoomOptions
    {
        public double ZoomFactor { get; set; }
        public string Type { get; set; }
    }

    public void StateChanged()
    {
        StateHasChanged();
    }
    public void LoadNewDiagram(string Json)
    {
        _= Diagram.LoadDiagram(Json);
    }

    public class PageOptionElement
    {
        public string Diagram { get; set; }
        public bool PageSwitch { get; set; }
        public string Name { get; set; }
    }

    private async Task ShowPageData(PageOptionElement page)
    {
        this.DiagramSpinnerObj.Show();
        ActivePage.Diagram = Diagram.SaveDiagram();
        ActivePage.PageSwitch = false;
        await Diagram.LoadDiagram(page.Diagram.ToString());
        this.DiagramSpinnerObj.Hide();
        page.PageSwitch = true;
        if(ActivePage != page)
        {
            Diagram.ClearHistory();
        }
        await jsRuntime.InvokeAsync<object>("pageSizeUpdate").ConfigureAwait(true);
        ActivePage = page;
    }

    private async Task AddNewPage()
    {
        ActivePage.Diagram = Diagram.SaveDiagram();
        ActivePage.PageSwitch = false;

        PageOptionElement pageOption = new PageOptionElement()
        {
            Diagram = "",
            Name = "Page" + (PageList.Count + 1).ToString(),
            PageSwitch = true
        };
        Diagram.Nodes.Clear();
        Diagram.Connectors.Clear();
        Diagram.ClearSelection();
        Diagram.ClearHistory();
        scrollLimit  = ScrollLimitMode.Infinity;
        CurrentZoom  = 1;
        minZoom = 0.25;
        maxZoom = 30;
        DiagramOrientation = PageOrientation.Landscape;
        DiagramPageWidth = 816;
        DiagramPageHeight = 1056;
        PageList.Add(pageOption);
        ActivePage = pageOption;
    }
    private PageOptionElement findPage(string id)
    {
        for (var i = 0; i < this.PageList.Count; i++)
        {
            if (this.PageList[i].Name == id)
            {
                return this.PageList[i];
            }
        }
        return null;
    }
    public async Task UpdateSpacing(int value, string type)
    {
        SfDiagramComponent diagram = Parent.DiagramContent.Diagram;
        diagram.BeginUpdate();
        if (type == "Horizontal")
            HorizontalSpacing = value;
        else if (type == "Vertical")
            VerticalSpacing = value;
        await diagram.EndUpdate();
    }

    public async Task UpdateAlignment(string alignment)
    {        
        SfDiagramComponent diagram = Parent.DiagramContent.Diagram;
        diagram.BeginUpdate();
        switch (alignment)
        {
            case "Align Left":
                HorizontalAlignment = HorizontalAlignment.Left;
                break;
            case "Align Right":
                HorizontalAlignment = HorizontalAlignment.Right;
                break;
            case "Align Center":
                HorizontalAlignment = HorizontalAlignment.Center;
                break;
            case "Align Top":
                VerticalAlignment = VerticalAlignment.Top;
                break;
            case "Align Middle":
                VerticalAlignment = VerticalAlignment.Center;
                break;
            case "Align Bottom":
                VerticalAlignment = VerticalAlignment.Bottom;
                break;
        }
        await diagram.EndUpdate();
    }

    public void AddNodes(ObservableCollection<Node> Nodes)
    {
        Diagram.BeginUpdate();
        for (int i = 0; i < Nodes.Count; i++)
        {
            NodesCollection.Add(Nodes[i]);
        }
        Diagram.EndUpdate();
    }

    public void AddConnectors(ObservableCollection<Connector> Connectors)
    {
        Diagram.BeginUpdate();
        for (int i = 0; i < Connectors.Count; i++)
        {
            ConnectorCollection.Add(Connectors[i]);
        }
        Diagram.EndUpdate();
    }
    public void Dispose()
    {
        Service.Notify -= OnNotify;
    }
    // Method to determine whether this command can execute or not.
    public void CanExecute(CommandKeyArgs args)
    {
        args.CanExecute = true;
    }
    // Method to execute the custom command
    public async Task ExecuteCommand(CommandKeyArgs obj)
    {
        if(Parent.MindMapPropertyPanel.IsMindMap)
        {
            if(obj.Name == "leftChild")
            {
                Parent.MindMapPropertyPanel.AddNode("Left");
            }
            if(obj.Name == "rightChild")
            {
                Parent.MindMapPropertyPanel.AddNode("Right");
            }
            if (obj.Name == "sibilingChildTop")
            {
                Parent.MindMapPropertyPanel.AddSiblingChild("Top");
            }
            if (obj.Name == "sibilingChildBottom")
            {
                Parent.MindMapPropertyPanel.AddSiblingChild("Bottom");
            }
            if (obj.Name == "deleteChid" || obj.Name == "delete")
            {
                Parent.MindMapPropertyPanel.RemoveChild();
            }
            if (obj.Name == "editing")
            {
                Parent.MindMapPropertyPanel.EditNode();
            }
            if (obj.Name == "bold")
            {
                Parent.MindMapPropertyPanel.TextBold();
            }
            if (obj.Name == "italic")
            {
                Parent.MindMapPropertyPanel.TextItalic();
            }
            if (obj.Name == "underline")
            {
                Parent.MindMapPropertyPanel.TextUnderline();
            }
            if (obj.Name == "fitPage")
            {
                Parent.MindMapPropertyPanel.FitPage();
            }
            if (obj.Name == "showShortCut")
            {
                Parent.ShowHideShortcutKey();
            }
            if (obj.Name == "cutObject")
            {
                _= Parent.MindMapPropertyPanel.CutLayout();
            }
            if (obj.Name == "copyObject")
            {
                Parent.MindMapPropertyPanel.CopyLayout();
            }
            if (obj.Name == "pasteObject")
            {
                await Parent.MindMapPropertyPanel.PasteLayout();
            }
            if (obj.Name == "navigationDown")
            {
                Parent.MindMapPropertyPanel.NavigateChild("Bottom");
            }
            if (obj.Name == "navigationUp")
            {
                Parent.MindMapPropertyPanel.NavigateChild("Top");
            }
            if (obj.Name == "navigationLeft")
            {
                Parent.MindMapPropertyPanel.NavigateChild("Right");
            }
            if (obj.Name == "navigationRight")
            {
                Parent.MindMapPropertyPanel.NavigateChild("Left");
            }
            if (obj.Name == "undo")
            {
                Parent.MindMapPropertyPanel.UndoRedoLayout(true);
            }
            if (obj.Name == "redo")
            {
                Parent.MindMapPropertyPanel.UndoRedoLayout(false);
            }
        }
        else if(Parent.OrgChartPropertyPanel.IsOrgChart)
        {
            if (obj.Name == "addChild")
            {
                Parent.OrgChartPropertyPanel.AddNode(Diagram.SelectionSettings.Nodes[0].ID);
            }
            if (obj.Name == "navigationDown")
            {
                Parent.OrgChartPropertyPanel.NavigateChild("Bottom");
            }
            if (obj.Name == "navigationUp")
            {
                Parent.OrgChartPropertyPanel.NavigateChild("Top");
            }
            if (obj.Name == "navigationLeft")
            {
                Parent.OrgChartPropertyPanel.NavigateChild("Left");
            }
            if (obj.Name == "navigationRight")
            {
                Parent.OrgChartPropertyPanel.NavigateChild("Right");
            }
            if (obj.Name == "addRightChild")
            {
                Parent.OrgChartPropertyPanel.AddRightChild();
            }
            if (obj.Name == "changeChildParent")
            {
                Parent.OrgChartPropertyPanel.changeChildParent();
            }
            if (obj.Name == "showShortCut")
            {
                Parent.ShowHideShortcutKey();
            }
            if (obj.Name == "undo")
            {
                Parent.OrgChartPropertyPanel.UndoRedoLayout(true);
            }
            if (obj.Name == "redo")
            {
                Parent.MindMapPropertyPanel.UndoRedoLayout(false);
            }
            if (obj.Name == "copyObject")
            {
                List<string> nodeIDs = new List<string>();
                if (this.Parent.OrgChartPropertyPanel.IsOrgChart)
                {
                    foreach (Node node in this.Diagram.SelectionSettings.Nodes)
                    {
                        string nodeID = node.ID;

                        Dictionary<string, object> objectdictionary = new Dictionary<string, object>();
                        objectdictionary.Add(node.ID, null);

                        node.AdditionalInfo = objectdictionary;
                    }
                }
                this.Parent.OrgChartPropertyPanel.isCopy = true;
                Diagram.Copy();
            }
            if (obj.Name == "pasteObject")
            {
                Diagram.Paste();
                this.Parent.OrgChartPropertyPanel.isCopy = false;
            }
        }
        else
        {
            if ((Diagram.SelectionSettings.Nodes.Count > 0 || Diagram.SelectionSettings.Connectors.Count > 0))
            {
                if (obj.Name == "duplicate")
                {
                    Diagram.Copy();
                    Diagram.Paste();
                }
                if (obj.Name == "group")
                {
                    GroupObjects();
                }
                if (obj.Name == "unGroup")
                {
                    UngroupObjects();
                }
                if (obj.Name == "sendToBack")
                {
                    Diagram.SendToBack();
                }
                if (obj.Name == "bringToFront")
                {
                    Diagram.BringToFront();
                }

            }
        }
        if (obj.Name == "fileNew")
        {
            await jsRuntime.InvokeVoidAsync("CommonKeyboardCommands_newDiagram");
        }
        if (obj.Name == "fileOpen")
        {
            await Parent.MenuBar.OpenUploadBox(true, ".json");
        }
        if (obj.Name == "fileSave")
        {
            if (this.Parent.OrgChartPropertyPanel.IsOrgChart)
            {
                foreach (Node node in Diagram.Nodes)
                {
                    string nodeID = node.ID;
                    Dictionary<string, string> textBoxValues = this.Parent.OrgChartPropertyPanel.TextBoxDictionary[nodeID];

                    Dictionary<string, bool> checkBoxValues = new Dictionary<string, bool>();

                    Dictionary<string, object> objectdictionary = new Dictionary<string, object>();

                    foreach (var key in textBoxValues)
                    {
                        string textValue = this.Parent.OrgChartPropertyPanel.TextBoxDictionary[nodeID][key.Key];
                        bool checkboxValue = this.Parent.OrgChartPropertyPanel.CheckBoxDictionary[nodeID][key.Key];
                        checkBoxValues = new Dictionary<string, bool>();
                        checkBoxValues.Add(textValue, checkboxValue);
                        objectdictionary.Add(key.Key, checkBoxValues);
                    }

                    node.AdditionalInfo = objectdictionary;
                }
            }
            string fileName = await jsRuntime.InvokeAsync<string>("getDiagramFileName", "");
            await Parent.MenuBar.Download(fileName);
        }
    }
    public void GroupObjects()
    {
        Diagram.Group();
        Parent.Toolbar.GroupIcon = "e-icons sf-icon-Ungroup tb-icons";
        Parent.Toolbar.GroupToolTip = "UnGroup";
        Parent.Toolbar.StateChanged();
    }

    public void UngroupObjects()
    {   
        Diagram.Ungroup();
        Diagram.ClearSelection();
        diagramSelected = true;
        Parent.Toolbar.GroupIcon = "e-icons sf-icon-Group tb-icons";
        Parent.Toolbar.GroupToolTip = "Group";
        Parent.DiagramPropertyPanel.PanelVisibility();
        Parent.DiagramPropertyPanel.BindDiagramProperties();
        Parent.Toolbar.DiagramSelectionToolbarItems();
    }
    private BranchType getbranch(IDiagramObject obj)
    {
        return Parent.MindMapPropertyPanel.GetBranchType(obj);
    }

    private TreeInfo getlayoutinfo(IDiagramObject obj, TreeInfo options)
    {
        if(Parent.OrgChartPropertyPanel.IsOrgChart)
        {
            return Parent.OrgChartPropertyPanel.getlayoutinfo(obj, options);
        }
        return options;     
    }

    // Method to customize the tool
    public InteractionControllerBase GetCustomTool(DiagramElementAction action, string id)
    {
        InteractionControllerBase tool = null;
        if (id == "AddLeft")
        {
            tool = new AddRightTool(Parent.DiagramContent.Diagram, Parent);
        }
        else if (id == "AddRight")
        {
            tool = new AddLeftTool(Parent.DiagramContent.Diagram, Parent);
        }
        else if (id == "OrgAddHandle")
        {
            tool = new OrgAddHandleTool(Parent.DiagramContent.Diagram, Parent);
        }
        else if (id == "OrgRemoveHandle")
        {
            tool = new OrgRemoveHandleTool(Parent.DiagramContent.Diagram, Parent);
        }
        else if (id == "OrgEditHandle")
        {
            tool = new OrgEditHandleTool(Parent.DiagramContent.Diagram, Parent);
        }
        else
        {
            tool = new DeleteTool(Parent.DiagramContent.Diagram, Parent);
        }
        return tool;
    }
    public class AddRightTool : InteractionControllerBase
    {
        SfDiagramComponent diagram;
        DiagramMain parent;
        public AddRightTool(SfDiagramComponent Diagram, DiagramMain Parent) : base(Diagram)
        {
            diagram = Diagram;
            parent = Parent;
        }
        public override async void OnMouseDown(DiagramMouseEventArgs args)
        {
            parent.DiagramContent.AddRemoveChildNode("Right");
        }
    }
    // Custom tool to add the node.
    public class AddLeftTool : InteractionControllerBase
    {
        SfDiagramComponent diagram;
        DiagramMain parent;
        public AddLeftTool(SfDiagramComponent Diagram, DiagramMain Parent) : base(Diagram)
        {
            diagram = Diagram;
            parent = Parent;
        }
        public override async void OnMouseDown(DiagramMouseEventArgs args)
        {
            parent.DiagramContent.AddRemoveChildNode("Left");
        }
    }
    public class OrgAddHandleTool : DragController
    {
        SfDiagramComponent diagram;
        DiagramMain parent;

        public OrgAddHandleTool(SfDiagramComponent Diagram, DiagramMain Parent) : base(Diagram)
        {
            diagram = Diagram;
            parent = Parent;
        }
        public override async void OnMouseDown(DiagramMouseEventArgs args)
        {
            parent.DiagramContent.AddRemoveOrgChartNode("AddNode");
        }
    }
    public class OrgRemoveHandleTool : DragController
    {
        SfDiagramComponent diagram;
        DiagramMain parent;
        Node deleteObject = null;
        public OrgRemoveHandleTool(SfDiagramComponent Diagram, DiagramMain Parent) : base(Diagram)
        {
            diagram = Diagram;
            parent = Parent;
        }
        public override void OnMouseDown(DiagramMouseEventArgs args)
        {
            deleteObject = (diagram.SelectionSettings.Nodes[0]) as Node;
        }
        public override void OnMouseUp(DiagramMouseEventArgs args)
        {
            if (deleteObject != null)
            {
                parent.DiagramContent.AddRemoveOrgChartNode("DelNode");
            }
            base.OnMouseUp(args);
            this.InAction = true;
        }
    }
    public class OrgEditHandleTool : DragController
    {
        SfDiagramComponent diagram;
        DiagramMain parent;
        public OrgEditHandleTool(SfDiagramComponent Diagram, DiagramMain Parent) : base(Diagram)
        {
            diagram = Diagram;
            parent = Parent;
        }
        public override async void OnMouseUp(DiagramMouseEventArgs args)
        {
            await parent.DiagramContent.AddRemoveOrgChartNode("EditNode");
            base.OnMouseUp(args);
            this.InAction = true;
        }
    }
    public class DeleteTool : InteractionControllerBase
    {
        SfDiagramComponent diagram;
        DiagramMain parent;
        Node deleteObject = null;
        public DeleteTool(SfDiagramComponent Diagram, DiagramMain Parent) : base(Diagram)
        {
            diagram = Diagram;
            parent = Parent;
        }
        public override void OnMouseDown(DiagramMouseEventArgs args)
        {
            deleteObject = (diagram.SelectionSettings.Nodes[0]) as Node;
        }
        public override void OnMouseUp(DiagramMouseEventArgs args)
        {
            if (deleteObject != null)
            {
                parent.DiagramContent.AddRemoveChildNode("Delete");
            }
            base.OnMouseUp(args);
            this.InAction = true;
        }
    }
    private void AddRemoveChildNode(string type)
    {
        if(type == "Left" || type == "Right")
            Parent.MindMapPropertyPanel.AddNode(type);
        else
            Parent.MindMapPropertyPanel.RemoveChild();
    }

    private async Task AddRemoveOrgChartNode(string type)
    {
        if(type=="AddNode")
        {
            Parent.OrgChartPropertyPanel.AddNode(Diagram.SelectionSettings.Nodes[0].ID);
        }
        else if (type=="DelNode")
        {
            Parent.OrgChartPropertyPanel.RemoveChildNode();
        }
        else
        {
            await Parent.OrgChartPropertyPanel.EditHandle();
        }
    }
    public string RandomId()
    {
        Random random = new Random();
        const string chars = "ABCDEFGHIJKLMNOPQRSTUVWXTZabcdefghiklmnopqrstuvwxyz";
#pragma warning disable CA5394 // Do not use insecure randomness
        return new string(Enumerable.Repeat(chars, 5)
          .Select(s => s[random.Next(s.Length)]).ToArray());
#pragma warning restore CA5394 // Do not use insecure randomness
    }
    private async void Created(object args)
    {
        if (Parent.MindMapPropertyPanel.IsMindMap && Diagram.Nodes.Count>0)
        {
            Diagram.Select(new ObservableCollection<IDiagramObject>() { Diagram.Nodes[0] });
        }
        if (Parent.OrgChartPropertyPanel.IsOrgChart && Diagram.Nodes.Count > 0)
        {
            Diagram.Select(new ObservableCollection<IDiagramObject>() { Diagram.Nodes[0] });
        }
        //if (Parent.OrgChartPropertyPanel.IsOrgChart)
        //{
        //    await Diagram.DoLayout();
        //}

    }
    private async void TextChanged(TextChangeEventArgs args)
    {
        if((!string.IsNullOrEmpty(args.OldValue) || string.IsNullOrWhiteSpace(args.OldValue)) && args.NewValue.Length > 0 && args.Element != null)
        {
            await Task.Delay(1);
            Node node = args.Element is Node ? args.Element as Node : null;
            Connector connector = args.Element is Connector ? args.Element as Connector : null;
            if ((node != null && node.Annotations != null && node.Annotations.Count > 0 && (node.Annotations[0].Content != "" || (node.Annotations[0].Hyperlink != null && (node.Annotations[0].Hyperlink.Url != "" || node.Annotations[0].Hyperlink.Content != "")))) || ((connector != null && connector.Annotations != null && connector.Annotations.Count > 0 && connector.Annotations[0].Content != string.Empty)))
            {
                if (node != null && node.Annotations[0].Hyperlink != null)
                {
                    HyperlinkSettings hyperlink = node.Annotations[0].Hyperlink;
                    node.Annotations[0].Hyperlink = new HyperlinkSettings() { Content = !string.IsNullOrEmpty(hyperlink.Content) ? node.Annotations[0].Content : string.Empty, Url = hyperlink.Content != "" ? hyperlink.Url : node.Annotations[0].Content };
                }
                Parent.DiagramPropertyPanel.PanelVisibility();
                Parent.DiagramPropertyPanel.slider();
                StateChanged();
            }
        }
    }
    private async Task CollectionChanged(CollectionChangedEventArgs args)
    {
       
        if (Parent.MindMapPropertyPanel.IsMindMap)
        {
            if(args.Element is Node)
            {
                if((args.Element).AdditionalInfo != null && (args.Element).AdditionalInfo.Count > 0)
                {
                    if(args.Element.AdditionalInfo.ContainsKey("IsFirstNode") )
                    {
                        bool firstNode = (bool)args.Element.AdditionalInfo["IsFirstNode"];
                        if(firstNode)
                            Parent.MindMapPropertyPanel.PastedFirstItem = args.Element as Node;
                    }
                }
            }
        }
        else if(args.Action == CollectionChangedAction.Remove)
        {
            diagramSelected = true;
            Parent.DiagramPropertyPanel.PanelVisibility();
            Parent.DiagramPropertyPanel.BindDiagramProperties();
            Parent.Toolbar.DiagramSelectionToolbarItems();
            StateHasChanged();
        }
    }
}