
@using Syncfusion.Blazor.Popups

@inject IJSRuntime jsRuntime 
@namespace DiagramBuilder

<SfDialog @ref="@EditTooltipDialog" @bind-Visible="@EditTooltipVisible" Width="335px" ShowCloseIcon="true">
    <DialogTemplates>
        <Header>Edit-Tooltip</Header>
        <Content><div id='tooltipDialogContent'><div class='row'><div><textarea id='objectTooltip' style='resize: none; width: 100%; height: 120px;'></textarea></div></div></div></Content>
    </DialogTemplates>
    <DialogAnimationSettings Effect="@DialogEffect.None"></DialogAnimationSettings>
    <DialogButtons>
        <DialogButton OnClick="@BtnTooltip" Content="Apply" CssClass="e-flat e-db-primary" IsPrimary="true">
        </DialogButton>
        <DialogButton OnClick="@btnCancelClick" Content="Cancel" CssClass="e-flat" IsPrimary="true">
        </DialogButton>
    </DialogButtons>
</SfDialog>
@code {
    internal DiagramMenuBar Parent;

    public SfDialog EditTooltipDialog;
    public bool EditTooltipVisible = false;

    private async Task BtnTooltip()
    {
        var diagram = Parent.Parent.DiagramContent.Diagram;
        if (diagram.SelectedItems.Nodes.Count > 0)
        {
            var node = diagram.SelectedItems.Nodes[0];
            string tooltipText = await jsRuntime.InvokeAsync<string>("getTooltipText");
            SetTooltip(node, tooltipText);
            //diagram.dataBind();
        }
        await EditTooltipDialog.Hide();
    }
    private async Task btnCancelClick()
    {
        await EditTooltipDialog.Hide();
    }

    private void SetTooltip(Syncfusion.Blazor.Diagrams.DiagramNode node, string content)
    {
        if (content!="")
        {
            node.Constraints = node.Constraints | Syncfusion.Blazor.Diagrams.NodeConstraints.Tooltip;
            node.Tooltip =new Syncfusion.Blazor.Diagrams.NodeTooltip { Content= content, Position= Syncfusion.Blazor.Popups.Position.BottomCenter, RelativeMode= Syncfusion.Blazor.Diagrams.TooltipRelativeMode.Object };
        }
        else
        {
            node.Constraints = node.Constraints & ~Syncfusion.Blazor.Diagrams.NodeConstraints.Tooltip;
        }
    }
}
